[2014-04-13 22:43] sobolevnrm opened #53 "Upgrade PDB2PQR instance of PROPKA to 3.1"
Upgrade to PROPKA 3.1.
3.0 and 3.1 are generally more strict in what they will accept from a user. 3.1 seems to be a little more forgiving (or more complete, but whatever). There are two known users cases. One would be resolved by an upgrade to 3.1, the other would not. Both work in 1.0.

[2014-04-22 16:25] sobolevnrm opened #43 "Add email address to PDB2PQR job submission form"
Add email address to PDB2PQR job submission form and email them a link to the results page for their job. This will allow users to close their web browser for long calculations and retrieve the results later.

[2014-04-22 22:53] sobolevnrm opened #41 "Handle nucleic acids with H-bonding"
We don't handle nucleic acids with H-bonding right now, but, this user's code below will be a good starting place.

"I think I traced this back to the structures.py, where it defined the acceptor types. I am not sure whether it should be defined as N's in DNA with 2 bonds and C or A, or whether it should be <3 bonds (ie. if a single bond to an N would allow it to hydrogen bond to 2 other atoms). T

[2014-04-23 00:32] sobolevnrm opened #42 "Add AM1-BCC charges and Zap radii to PDB2PQR"
This is a very important set of implicit solvent parameters that is currently missing from PDB2PQR.

[2015-07-14 17:21] lizutah opened #40 "Improved pKa for dropped water"

[2015-10-27 22:25] kmonson opened #39 "pdb2pka apbs parameters are too coarse."
The apbs input files creating during pdb2pka runs use a grid that is way too coarse.

[2015-12-06 23:16] sobolevnrm opened #37 "pHs are not pKas"
The --ph-calc-method option is incorrect.  It should be --pka-calc-method.  I've attached a main.py that may fix some of this (at least the problems with the option name and description).

Here's a fixed description but it should be fixed elsewhere, too:

[2015-12-14 20:08] lizutah opened #38 "Add NGL to available visualization tools"
We need to add a link to the Visualization landing page on the server to also view results in NGL.

**Instructions from Alexander:**
_Liz made the suggestion to link from the APBS results page to the NGL
Viewer web app. I looked into it and pushed a few adjustments out. Now
you can pass urls to a pqr and dx file as GET parameters to load and
display them automatically. In the following example the

[2016-01-05 18:30] lizutah opened #36 "Incorporate proteins used to test graph cut into apbs"
@sobolevnrm - add list of proteins

[2016-05-17 08:47] tonigi opened #35 "pdb2pqr runs not deterministic"
Apparently pdb2pqr results depend on hash ordering, which is platform-dependent.  If you run 3PTB with -R (randomize hashes), HIS 91 turns out to be HID/HIE at random (roughly 50%).  This becomes an issue under Python 3, which has random hashes on by default.

To check:

[code]

T

[2017-02-19 16:26] speleo3 opened #34 "mmCIF based PQR format"
This is a feature request. It would be great if pdb2pqr and apbs could replace the PQR format with a modified mmCIF based format which simply adds a charge (e.g. `_atom_site.pqr_partial_charge`) and a radius column (e.g. `_atom_site.pqr_radius`).

Advantages over current PQR format:

- no whitespace and/or column alignment issues
- every software which support mmCIF format could read those files

[2019-10-18 19:06] PabloGGaray opened #33 "Alternative for the error: UnboundLocalError: local variable 'pH_opt' referenced before assignment"
Hi, I was using the [pdb2pqr server](http://nbcr-222.ucsd.edu/pdb2pqr_2.1.1/) to convert my pdb file to pqr file, using PROPKA to assign protonation states at pH 7 (AMBER selected as forcefield and for output naming). But the calculation ended with this error message in the file stderr from the server:

[code]

Then I downloaded apbs-pdb2pqr from this repository and, after the installation, I run

[2020-04-20 01:37] sobolevnrm opened #32 "Clean up files in repo no longer needed after move to Azure"
@Eo300 is probably the best person to tackle this.

@sobolevnrm is going to get a jump start on this by removing the `pdb2pqr/html/` directory to partially address Electrostatics/apbs-pdb2pqr#537

[2020-04-22 00:30] mathog opened #31 "pdb2pqr git download not complete or inconsistent"
[code]

The entire html subdirectory is missing.  Either the build needs to ignore it or the download needs to supply it.

[2020-04-23 17:16] sobolevnrm opened #30 "Fix PDB comparison in testing"
@intendo and @kozlac have more information.

We should not be worried about atom numbering differences in PDB2PQR output so our testing should be insensitive to this.

[2020-04-24 16:23] sobolevnrm opened #91 "Identify places where C/C++ can be replaced by Python"
One example is the PDB2PKA graph clique-finding code?

[2020-04-24 20:05] sobolevnrm opened #29 "Follow standard Python style convention"
https://www.python.org/dev/peps/pep-0008/ or similar

[2020-04-24 22:23] sobolevnrm opened #28 "PROPKA has several exec() statements that are worrisome"
For example:

https://github.com/Electrostatics/apbs-pdb2pqr/blob/8e47d5fa08c4e2cb22bef829b585097a5e7108ae/pdb2pqr/propka/parameters.py#L109

[2020-04-24 23:01] sobolevnrm opened #27 "Submit pull request back to PROPKA repo"

[2020-04-24 23:07] sobolevnrm opened #26 "Replace hand-coded math with numpy"

[2020-04-25 03:29] sobolevnrm opened #25 "Figure out why --ligand option fails with PROPKA 3.1"

[2020-04-25 16:52] sobolevnrm opened #24 "Add/fix missing docstrings throughout code"
Follow standard docstring format (e.g., Google)

[2020-04-25 16:56] JLaureantiPNNL opened #23 "Ligands with mol2 files are displaced from the proper coordinates after assigning charges."
Hello,

I ran a job with the 3WIP acetylcholinesterase enzyme on both the old web server and the new updated web server. For this job I created a mol2 file for the ACH ligand using the PRODRG web tool and asked that parameters be generated for the ligand as well. When the job completes the XYZ coordinates for the ligand in the PQR file do not match that of the XYZ coordinates in the PDB file, and

[2020-04-26 17:04] sobolevnrm opened #22 "Suppress (or redirect to files) repeated logging messages"
See https://stackoverflow.com/questions/44691558/suppress-multiple-messages-with-same-content-in-python-logging-module-aka-log-co/44692178

[2020-04-26 22:45] sobolevnrm opened #21 "Need testing for CIF import"

[2020-04-26 23:37] sobolevnrm opened #20 "I'm pretty sure the --include-headers option in PDB2PQR doesn't do anything"

[2020-04-27 00:45] sobolevnrm opened #19 "Remove all import *"
The import * are inhibiting refactoring.

[2020-04-27 01:25] intendo opened #18 "Can these files be removed?"
apbs/contrib/iapbs (is this used?)

- [x] pdb2pqr/visualize.cgi
- [x] pdb2pqr/SCons*
- [x] pdb2pqr/main_cgi.pyc
- [x] pdb2pqr/html
- [x] pdb2pqr/.htaccess
- [x] pdb2pqr/scons*
- [x] pdb2pqr/site_scons*
- [x] pdb2pqr/.variables.cache*
- [x] pdb2pqr/.scons.dblite*
- [x] pdb2pqr/build_config.py*
- [x] pdb2pqr/propka30

* need to check that we have all builds and tests moved out of Scon

[2020-04-27 19:14] sobolevnrm opened #17 "Fix bare exceptions in cif.py"
Lots of bare exceptions in cif.py lead to confusing debugging.

[2020-04-29 01:58] sobolevnrm opened #9 "Bug in hydrogens.py"
There is at least one bug in hydrogens.py related to improper variable setting and/or break from loops.

See the following line for context:

https://github.com/Electrostatics/apbs-pdb2pqr/blob/02c0505a631075794757b4d36777bfa27276aa9f/pdb2pqr/pdb2pqr/hydrogens.py#L1193

[2020-05-02 17:13] sobolevnrm opened #15 "Need testing for PROPKA"

[2020-05-02 17:13] sobolevnrm opened #14 "Need testing for PDB2PKA"

[2020-05-02 17:29] sobolevnrm opened #13 "Need testing for nucleic acids"

[2020-05-02 18:58] sobolevnrm opened #59 "Address user feedback on documentation"
- [x] Initially, it wasn’t clear if I needed to download or use the website
- [x] There doesn’t seem to be a link to download the ligand MOL2 for 1HPX or 1ABF. I don’t know if I was supposed to find that somewhere else?
- [ ] I had a pretty hard time following the documentation – I could get it to do the initial PDB2PQR bit, but I couldn’t find the next steps – did I need to use with APBS? Because

[2020-05-03 22:39] sobolevnrm opened #11 "Consider restoring extension functionality at some point"

[2020-05-05 14:24] sobolevnrm opened #8 "Add warning information back to headers of output PQR"
Need to cache information in loggingFilter and extract during PQR output.

[2020-05-08 10:52] fabiotrovato opened #54 "Using APBS with coarse-grained models of proteins"
Dear APBS community,

I would like to know if APBS can be used with coarse-grained protein structures (for example protein models with one pseudo-atom per residue) for which I know the relevant quantities such as pseudo-atom radii and charges. It seems that the PQR file format should be flexible enough to do it. However, I am not sure if during calculation APBS expects to find conventional atoms f

[2020-06-05 22:14] jwhowarth opened #10 "installing pdb2pqr from apbs-pdb2pqr 3.0?"
The current apbs-pdb2pqr 3.0 release doesn't appear to perform any installations for pdb2pqr. Using...

$ mkdir build
$ cd build
$ cmake -DENABLE_PYTHON=ON -DCMAKE_C_FLAGS="-fPIC" ..
$ cmake --build .

however it is unclear how the 'built' pdb2pqr is supposed to be installed. Certainly executing...

PYTHONPATH=propka31 python3.8 -m pytest

fails with...

/opt/local/bin/python3.8: No module named p

[2020-06-12 12:22] kozlac opened #6 "PDB2PQR Unable to load parameter file for forcefield"
PDB2PQR fails to find the `dat` folder when running from outside the source folder with error:
`
$ raise RuntimeError("Unable to load parameter file for forcefield %s" % args.ff)
`
`
$ RuntimeError: Unable to load parameter file for forcefield charmm
`

[2020-06-12 20:02] bisdan opened #52 "'PotentialBond' comparison raises TypeError"
Hello PDB2PQR Team,

during protonation with the flag --protonate-all the following TypeError is raised:

`apbs-pdb2pqr/pdb2pqr/pdb2pqr/utilities.py, line 26, in sort_dict_by_value:
items.sort()
TypeError: '<' not supported between instances of 'PotentialBond' and 'PotentialBond'`

Since you are sorting tuples at this point in the code this might be interesting to you: [https://stackoverflow.com/q

[2020-06-14 02:11] sobolevnrm opened #7 "Need regression tests for PEOE"
@intendo or @kozlac - would you be willing to develop some outputs for `PEOE` and `calcchi` as performing in PDB2PQR 2.1.1 https://github.com/Electrostatics/apbs-pdb2pqr/blob/433a1984a632b396bda11416b757d00e4ef5189e/pdb2pqr/pdb2pka/ligandclean/peoe_PDB2PQR.py ?  I'd like to develop some regression tests for the branch I'm working on.

Thank you!

[2020-06-21 23:47] sobolevnrm opened #3 "PDB2PQR bond type does not work correctly for some bonds"
See `tests/ligand_test.py::test_bad_bonds` for examples.

[2020-06-25 01:47] sobolevnrm opened #58 "Address user feedback on documentation"
- General usability of the software – starting with http://www.poissonboltzmann.org/, how difficult is it get up and running with useful biomolecular visualization?
    - I was not able to download the APBS and PDB software onto my laptop with Windows 10 and get it properly functioning, as I do not have experience with python and compiling codes. When I tried downloaded the software from the sourc

[2020-06-27 17:14] sobolevnrm opened #2 "Document PIP installation behavior of PDB2PQR"
Is this documented anywhere?  If not, can we add the documentation?

Note that for development, we probably want to suggest `pip install -e .`.

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/apbs-pdb2pqr/pull/605#issuecomment-650587109_

[2020-06-27 20:02] sobolevnrm opened #1 "Modernize API documentation"
Attempt to modernize API documentation--at least for PDB2PQR.

[2020-06-30 02:44] sobolevnrm opened #4 "PDB2PQR ring detection does not work correctly for triply fused rings"
See `tests/ligand_test.py::test_bad_rings` for example.

[2020-06-30 02:47] sobolevnrm opened #5 "Attempt to standardize data and parameter file formats"
Too many data/parameter files in APBS/PDB2PQR use their own bespoke format, generating code bloat for parsing.  It would be good to standardize on a readable (e.g., not XML) format that has simple support through Python.  Possibilities include JSON (https://docs.python.org/3/library/json.html) or Python config format (https://docs.python.org/3/library/configparser.html).  Comments are a bit more s

[2020-07-03 01:57] sobolevnrm opened #12 "Need testing of ligand parameterization"
Currently only have 1 test tied to PROPKA functionality that compares to known result.

Adding two more tests for ligands but not compared to known result.

[2020-07-03 02:00] sobolevnrm opened #16 "Need refactoring and testing for inputgen and psize"
I think inputgen.py and psize.py are still important for the web server version of PDB2PQR.  However, we appear to have no test coverage of these modules.

[2020-07-03 02:41] #43 closed

[2020-07-03 17:12] sobolevnrm opened #44 "Consolidate PDB2PQR API documentation"
Move http://www.poissonboltzmann.org/docs/pdb2pqr-programmers/ into the PDB2PQR repo

[2020-07-03 17:55] sobolevnrm opened #46 "Setup CI for PDB2PQR"
Will need to exclude some of the very-long tests in setup.

[2020-07-03 17:56] sobolevnrm commented on #44
Don't forget to move information about registration over from original site.

[2020-07-03 17:56] #27 closed

[2020-07-03 17:58] sobolevnrm commented on #30
Fixed in https://github.com/Electrostatics/pdb2pqr/commit/4ca67eaa53e193d044c8fbc229e6cdb443fae317

[2020-07-03 17:58] #30 closed

[2020-07-03 18:04] sobolevnrm opened #47 "Move tags and releases"
Move tags and releases over from https://github.com/Electrostatics/apbs-pdb2pqr/tags

[2020-07-03 18:05] sobolevnrm opened #48 "Release PDB2PQR PyPI package"
Released as "pre-alpha"; see https://pypi.org/project/pdb2pqr/

[2020-07-03 18:08] sobolevnrm opened #49 "Move old branches over from apbs-pdb2pqr repo"
Move the relevant branches from https://github.com/Electrostatics/apbs-pdb2pqr/branches to this repo

[2020-07-03 18:10] sobolevnrm opened #50 "Re-enable PDB2PKA"

[2020-07-03 18:30] sobolevnrm opened #51 "Update www.poissonboltzmann.org to reflect move to new repo"

[2020-07-03 22:45] #48 closed

[2020-07-03 23:25] sobolevnrm opened #55 "Figure out a better way to sync setup.py version with other version numbers in code"

[2020-07-03 23:30] orbeckst commented on #55
Use https://github.com/warner/python-versioneer – works really well.

[2020-07-04 00:25] sobolevnrm commented on #55
Thanks!

[2020-07-04 21:10] sobolevnrm opened #57 "Add PDBX as stand-alone Python package"
Great!  Can you please back out the pdbx changes and I'll accept this version of the PR (and will not delete the branch)?

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/pdb2pqr/pull/56#issuecomment-653811840_

[2020-07-04 23:55] sobolevnrm opened #60 "Clean up references to apbs in config and doc files"

[2020-07-05 00:41] sobolevnrm opened #61 "PDB2PQR repo needs better documentation"

[2020-07-06 19:22] kozlac commented on #7
Do the following steps do what you are requesting:

- [ ] Checkout and set up to run PDB2PQR 2.1.1 with pdb2pka.

- [ ] Run 1HPX with LIG_1HPX.mol2 with different ph values.

- [ ] Capture the outputs of PEOE. Specifically the return atoms.

- [ ] Capture the output of calcchi for every atom.

Is this what you had in ming @sobolevnrm? If so, are there any other proteins you would like the output f

[2020-07-07 01:12] sobolevnrm commented on #7
Hi @kozlac.  Thanks for putting this together.  This list looks good but I think we only need to pick a specific titration state (save it as file that can be loaded in to reproduce) and then do what you described for calcchi, etc. for that specific titration state.

[2020-07-07 15:49] arikat opened #64 "Attribute error: Nonetype object has no attribute get_potentials"
Hi, We are using pdb2pqr 2.1.1 (latest version) and python2 with Ubuntu 18. We're getting the following error when invoking the --ph-calc-method=pdb2pka method. It does run for a long period of time and while it is calculating pkas, it eventually runs into this issue Picture attached.

![Unknown](https://user-images.githubusercontent.com/43094075/86807386-d19a9000-c047-11ea-83c4-643758251827.png)

[2020-07-08 14:44] kozlac commented on #7
@sobolevnrm  the file [1HPX_peoe_chi_output.txt](https://github.com/Electrostatics/pdb2pqr/files/4891302/1HPX_peoe_chi_output.txt) has the output from the peoe_PDB2PQR.py routines for 1HPX in the tests folder. The chi value is the chi value calculated during the last cycle.

Would this file suffice? If so, should I push to a particular branch?

[2020-07-08 18:22] intendo commented on #12
Have you implemented the tests that Joe L gave you or is this issue still open?

[2020-07-09 01:37] Valdes-Tresanco-MS opened #65 "Installation problems and internal errors"
PDB2PQR is available in PyPi and great, however installing it from here leads to errors.
When I install it from here I get this error:

[code]
Apparently, the pdbx module is missing. In requirements.txt it appears as dependency mmcif_pdbx, however it doesn't seem to work. From what I appreciate here, the pdbx module itself is imported as a sub-module of pdb2pqr and also with relative import. Would

[2020-07-09 01:44] sobolevnrm commented on #65
Thank you for trying out the untested part of the software that is not ready for public consumption or use.  😄

We are working on making PDB2PQR more modular and are converting parts of the code to external dependencies.  That is the problem you experienced just now.  We've moved the PDBx dependency to https://github.com/Electrostatics/mmcif_pdbx and are in the process of pushing it to PyPI.

In t

[2020-07-09 01:44] #65 closed

[2020-07-09 02:45] sobolevnrm commented on #64
Hi @arikat --

I am sorry about the problems that you've been experiencing.  We are working on refactoring PDB2PQR to address this type of problem.  In the meantime, are the PROPKA titration options in PDB2PQR suitable for your purposes?

Thank you,

Nathan

[2020-07-10 16:26] intendo opened #66 "Print logging for pdb2pqr output files"
Output pdb2pqr to log and data files.

[2020-07-11 01:44] sobolevnrm commented on #12
Nope, I'm a lazy bum.  Sorry.

[2020-07-12 02:20] sobolevnrm opened #68 "Nathan needs to fix the overly comprehensive tests"
`lengthy_basic_test.py` is going to break our CI setup.

[2020-07-12 22:44] sobolevnrm commented on #57
Fixed in 8396b59ead4bcba91a2780df5f3682e7570eec32

[2020-07-12 22:44] #57 closed

[2020-07-13 01:27] #7 closed

[2020-07-13 01:50] sobolevnrm opened #71 "Eliminate pdb2pqr.py"
Replace with something like the following in `setup.py`:
[code]

[2020-07-13 02:14] sobolevnrm opened #72 "Testing creates random *.pka files"
There are several `tmp*.pka` temporary files created when the PDB2PQR tests are run.  These are annoying and should be eliminated.

[2020-07-15 00:21] sobolevnrm opened #75 "De-lint code with flake8"

[2020-07-15 00:22] sobolevnrm opened #76 "Add Sphinx documentation to code"

[2020-07-15 01:51] #68 closed

[2020-07-15 16:49] #66 closed

[2020-07-16 14:51] sobolevnrm opened #77 "Failed log test"
@bigdawgmj - the new test fails on my Windows machine with the following error:

[code]

[2020-07-16 15:50] #77 closed

[2020-07-16 18:50] intendo commented on #46
@sobolevnrm Can we close this one since you added the CI in the Github actions?

[2020-07-16 18:51] #46 closed

[2020-07-16 19:08] sobolevnrm opened #80 "Clean up awkward PDB2PQR string formatting"
Where appropriate, replace old printf-style formatting with more modern formatting methods.

[2020-07-16 19:29] sobolevnrm opened #82 "Add badges for testing, coverage, and docs"

[2020-07-17 17:17] sobolevnrm opened #83 "pdb2pqr30 installed from PIP does not work"
The setup.py points to pdb2pqr.main:main but that function requires arguments.

Submitting a PR soon to fix this issue.

[2020-07-17 17:19] #83 closed

[2020-07-17 18:17] sobolevnrm opened #84 "tools/dx2cube.py not included with PIP package"

[2020-07-17 19:58] #76 closed

[2020-07-17 20:19] intendo commented on #80
@sobolevnrm, if you point me to an example in the code with what it looks like now and how you want it to look, I can make updates on my own twime.

[2020-07-18 18:46] sobolevnrm opened #87 "Add versioning support with versioneer"
https://github.com/warner/python-versioneer

Thanks to @orbeckst for the tip and example with https://github.com/jensengroup/propka/pull/88

[2020-07-19 05:29] #61 closed

[2020-07-19 05:29] #82 closed

[2020-07-19 23:48] sobolevnrm commented on #80
Much appreciated!  I'm trying to do to the strings in PDB2PQR what we did for PROPKA:  specifically replace old %-style string formatting with https://docs.python.org/3/library/stdtypes.html#str.format or https://docs.python.org/3/library/string.html#string.Template.  I think the switch will help remove a lot of redundant formatting code, especially in PDB/PQR output.

However, I think https://git

[2020-07-23 13:27] sobolevnrm opened #89 "Add apbs-input support back into development branch"
in main.py, an exception is thrown if this input is an arg

[2020-08-10 18:09] intendo commented on #22
@sobolevnrm, Did this get fixed with @bigdawgmj logging fixes?

[2020-08-11 02:05] sobolevnrm commented on #22
Yes, I think so.

[2020-08-11 02:05] #22 closed

[2020-08-14 21:26] davipatti commented on #52
I've also been running into this error. For example:

[code]

Here is [test.pdb](https://gist.githubusercontent.com/davipatti/329a98f6b688bce9bb704cd29322bd5c/raw/48ba9039e87b5ff7fac135e816a24c31e44c6b78/test.pdb)

Cheers
David

[2020-08-14 22:01] danny305 commented on #34
Has this been approved/resolved?

Danny

[2020-08-15 00:38] sobolevnrm commented on #34
Yes, thank you.

[2020-08-15 00:45] sobolevnrm commented on #52
Hi @davipatti and @bisdan -- can you please let me know which version of PDB2PQR you are using?  That will help us determine where to apply the suggested patches.  Thanks!

[2020-08-17 02:18] intendo commented on #19
I can't find any more `import *` in any of the Python files. I think we can close this one.

[2020-08-17 02:21] #19 closed

[2020-08-20 22:31] intendo commented on #75
This has been resolved in the Github Actions for python-package.yml.

[2020-08-20 22:31] #75 closed

[2020-08-25 15:13] dvdesolve opened #92 "Can't run pdb2pqr after installation"
I've created [PDB2PQR Python package for Arch Linux](https://aur.archlinux.org/packages/python-pdb2pqr/). It builds and installs fine. However, when I'm trying to run it the following error occurs:
[code]

[2020-08-25 17:43] dvdesolve commented on #92
Oh, seems like this is a duplicate of #83. Sorry

[2020-08-25 17:43] #92 closed

[2020-08-26 17:51] davipatti commented on #52
Sorry for my slow response - I've been away for a bit.

I'm getting this error with the most recent commit (29a8675596f6d6ba65a71eceb0e028689f733fba).

[2020-08-30 17:27] #60 closed

[2020-08-30 17:27] #51 closed

[2020-08-30 19:02] sobolevnrm commented on #11
I think we should only restore this if it is requested by users.

[2020-08-30 19:02] #11 closed

[2020-08-30 19:04] #15 closed

[2020-08-30 20:27] sobolevnrm commented on #5
YAML also allows comments and seems to be something we're looking at for other parts of the software.

@intendo What do you think about using YAML for this?

[2020-08-30 20:44] intendo commented on #5
@sobolevnrm I like YAML. This seems pretty simple: https://martin-thoma.com/configuration-files-in-python/#yaml

[2020-08-30 22:05] #71 closed

[2020-08-30 22:06] #53 closed

[2020-08-30 22:07] sobolevnrm commented on #31
This should be fixed with the new scons-less version of PDB2PQR.

[2020-08-30 22:07] #31 closed

[2020-08-30 22:12] #29 closed

[2020-08-30 22:17] #28 closed

[2020-08-30 22:18] #32 closed

[2020-08-30 22:27] #18 closed

[2020-08-30 23:41] #24 closed

[2020-08-30 23:43] #17 closed

[2020-08-31 00:23] sobolevnrm commented on #10
Hello @jwhowarth -- please try installing APBS from one of our new releases.  It should work much better.  Thanks.

[2020-08-31 00:23] #10 closed

[2020-08-31 00:23] #44 closed

[2020-08-31 00:24] sobolevnrm commented on #23
@JLaureantiPNNL -- can you please check whether this still happens with the latest release https://github.com/Electrostatics/pdb2pqr/releases ?

[2020-08-31 00:26] #1 closed

[2020-08-31 00:35] sobolevnrm commented on #2
See https://pdb2pqr.readthedocs.io/en/latest/getting.html#python-package-installer-pip

[2020-08-31 00:35] #2 closed

[2020-08-31 02:27] JLaureantiPNNL commented on #23
Hi Nathan,

No problem. I can do this sometime this week. I downloaded the pdb2pqr-2.1.1 release.

I’ll use the same examples I used before.

Cheers,
Joe

From: Nathan Baker <notifications@github.com>
Sent: Sunday, August 30, 2020 5:25 PM
To: Electrostatics/pdb2pqr <pdb2pqr@noreply.github.com>
Cc: Laureanti, Joseph A <joseph.laureanti@pnnl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [E

[2020-08-31 15:59] intendo commented on #10
@jwhowarth, we recently split up APBS-PDB2PQR into separate repositories.
For APBS, you can find the instructions at https://apbs.readthedocs.io/en/latest/getting/index.html.
For PDB2PQR, https://pdb2pqr.readthedocs.io/en/latest/getting.html

[2020-08-31 16:02] intendo commented on #31
@mathog, the newest instructions for getting pdb2pqr are at https://pdb2pqr.readthedocs.io/en/latest/getting.html
The pip/pip3 install of pdb2pqr should make thinks much easier.

[2020-09-03 10:23] lqtza commented on #89
Commenting out  the line here https://github.com/Electrostatics/pdb2pqr/blob/29a8675596f6d6ba65a71eceb0e028689f733fba/pdb2pqr/main.py#L616 and then modifying the line below it to read `io.dump_apbs(args.output_pqr,args.apbs_input)` appears to restore apbs-input support for me.

[2020-09-05 17:24] sobolevnrm opened #93 "Fail gracefully when atoms are missing in backbone"
For the version on the server, PDB2PQR v2.1.1, using the `--propka-verbose` flag, execution ended with the following:
[code]
⬆ This one pertains specifically to the issue at hand.

However, we discovered that using PDB2PQR v3.0 (installed via `pip`), we got the following traceback instead:
[code]
This looks to align with [line 427 ](https://github.com/Electrostatics/pdb2pqr/blob/master/pdb2pqr/pro

[2020-09-05 18:59] sobolevnrm commented on #89
Thank you; I've committed a change that fixes the issue in the way you suggested.  I checked the documentation for `dump_apbs` and I think it is correct.

[2020-09-06 00:18] #89 closed

[2020-09-06 15:18] #93 closed

[2020-09-06 18:43] lqtza commented on #89
Awesome! Thanks!

[2020-09-06 23:02] sobolevnrm opened #96 "PDB2PQR needs a PQR parser"
PDB2PQR has several ad hoc PQR parsers but no standard one.  It needs one.

[2020-09-07 01:37] #96 closed

[2020-09-07 02:14] sobolevnrm opened #99 "Make psize a PIP-installed contact script"

[2020-09-07 02:14] sobolevnrm opened #100 "Make inputgen a PIP-installable console script"

[2020-09-07 02:26] #84 closed

[2020-09-07 02:28] sobolevnrm opened #101 "Generate new PDB2PQR PIP package"
* [x] Resolve #99
* [x] Resolve #100
* [ ] Resolve #102

[2020-09-07 14:51] sobolevnrm opened #102 "Add explicit documentation for console scripts installed by PIP"
For example, `pdb2pqr30`, `dx2cube`, `psize` after #99, `inputgen` after #100.

[2020-09-08 01:30] #100 closed

[2020-09-08 01:39] #99 closed

[2020-09-08 02:00] #55 closed

[2020-09-08 02:04] #87 closed

[2020-09-09 01:56] sobolevnrm commented on #23
Thanks for troubleshooting this @JLaureantiPNNL !

PDB2PQR takes the coordinates from the mol2 file and not from the ligand in the pdb file.

Originally the system failed to place the ligand in the correct position when using the FAD_wrong.mol2 file (the product was 5gv7_wrong.pqr). Using a mol2 file with the coordinates exactly as they are in the pdb that is passed in (FAD_right.mol2) gives the p

[2020-09-09 02:02] sobolevnrm commented on #23
More troubleshooting from @JLaureantiPNNL

Following up a bit more. The coordinates of the ligand (for the pqr file) are taken from the mol2 file and not the pdb input file. This leads to PDB2PQR deleting a second instance of the ligand.

Double2.pqr was made using Double2.pdb and FAD_right.mol2 as inputs. Double2.pdb has two FAD molecules in different positions (the atoms and residues have differ

[2020-09-13 00:48] sobolevnrm opened #108 "Generate reference docker containers for troubleshooting user issues and testing integration"

[2020-09-13 01:02] sobolevnrm opened #109 "Allow QCD-format input"
PDB2PQR functionality should replace [this code](https://github.com/Electrostatics/apbs/blob/55301efbe401359f90a11452e3e796693863cf07/tools/conversion/qcd2pqr.awk) in APBS:

[code]

[2020-09-14 01:59] sobolevnrm opened #110 "Need ability to write PDB format"
Need to be able to write PDB format from PDB2PQR in order to Pythonize naming replacement scripts from APBS in `tools/conversion` per https://github.com/Electrostatics/apbs/issues/73.

Thanks, @intendo 😄  !

[2020-09-15 01:59] sobolevnrm commented on #110
PDB2PQR handles all of the input/output naming schemes supported by the old APBS conversion schemes except for WHATIF.  We can probably drop WHATIF.

[2020-09-17 14:50] shaharsu opened #111 "GLYCAM on pdb2pqr?"
Hi all,

I'm interested in adding residues/atoms from glycam to pdb2pqr's AMBER.DAT and AMBER.names files, but am having a hard time finding any kind of instructions on how to do it. Does anyone know of a resource that can help me with that, or even better - a .DAT file with the atoms already included?

[2020-09-21 08:29] samuelmurail opened #112 "TypeError: createAtom() got an unexpected keyword argument 'overwriteelement'"
Hi,

I have an issue with the pdb files containing DNA (*eg* `1D30.pdb`).

[code]

The file `routine.py` contains several call to the function `createAtom()` with the argument `overwriteelement='H'` :

[code]
This can be solved by removing the argument `overwriteelement`, however I'm not sure this is the good solution.

Cheers,
Samuel

[2020-09-21 20:10] #112 closed

[2020-09-22 07:27] dakami opened #113 "Versioneer means pdb2pqr only works when pwd is dev root"
Installs don't work, command line doesn't work, etc.  Not obvious how to correct this behavior.

[2020-09-22 08:46] dakami commented on #113
This seems to derive from  .config importing versioneer, which is in root and not the module itself.  That is so get_version() can work.

Normally, it can't be found.  If you add the root to PYTHONPATH, versioneer complains it can't be run anywhere but root.

A workaround is simply to remove versioneer from config.py, and hardcode the version call.

[2020-09-22 12:08] dakami opened #114 "PDB parser cannot handle multi-line REVDAT w/ missing modtype"
1E7G has:

[code]
This crashes on:

`self.mod_type = int(line[31].strip())`

The REVDAT parser assumes that mod_type is always present, which it probably has to be, but I guess not always on every line of a multi-line entry?

I just added a simple check to see if the line length is anything after stripping:

`if len(line[31].strip()): self.mod_type = int(line[31].strip())`

But that fix assumes mo

[2020-09-23 03:59] #113 closed

[2020-09-23 04:04] dakami commented on #113
Thanks!

[2020-09-24 03:30] sobolevnrm commented on #114
Yes; I need to fix this.  I hope to do so this weekend, if possible.  Thank you.

[2020-09-24 16:16] sobolevnrm opened #116 "Retire SF.net mailing list"

[2020-09-25 06:23] #116 closed

[2020-09-26 02:12] sobolevnrm commented on #111
My apologies; the documentation is not very good.  The format of the DAT file is
[code]
although the `atom_type` field is not used. The parsing code is at https://github.com/Electrostatics/pdb2pqr/blob/c3508a203d518311e67cea60c3d28632621994d1/pdb2pqr/forcefield.py#L207

The `*.names` file actually is documented:  https://pdb2pqr.readthedocs.io/en/latest/formats/xml-names.html

I hope this helps.

[2020-09-26 02:54] #111 closed

[2020-09-26 22:22] sobolevnrm commented on #114
@dakami -- thanks for creating this issue.  I've added a test that reproduces the problem.  I think your fix is reasonable because the PDB format specification indicates that the mod_type has to be a single digit:  https://www.wwpdb.org/documentation/file-format-content/format33/sect2.html#REVDAT

I'll implement something similar to your fix.

Thanks again.

[2020-09-26 22:36] #114 closed

[2020-10-02 20:44] brjagger opened #120 "pdb2pqr30 no nucleic acid residues"
I am running pdb2pqr30 from the current github version of pdb2pqr

    pdb2pqr30 4UN3.pdb test.pqr

and receive the following error:

    AttributeError: module 'pdb2pqr.aa' has no attribute 'RC'

I still receive this error if i first manually rename the RNA residues to from A to RA, etc.

I am attaching the error trace: [err.txt](https://github.com/Electrostatics/pdb2pqr/files/5320163/err.txt)
th

[2020-10-05 02:00] sobolevnrm opened #121 "Nucleic acids are missing the ability to reconstruct tetrahedral hydrogens"
See references to `rebuild_tetrahedral` in `biomolecule.py`.

[2020-10-05 02:37] sobolevnrm commented on #120
PR #122 will fix this issue but will still need #121 to be addressed for useful nucleic acid support.

[2020-10-05 16:18] #120 closed

[2020-10-12 15:54] intendo opened #125 "Debump has a logic error"
There is a logic error in debump.py at lines 129-132 where `pair_ignored` is always false.

[2020-10-13 05:24] #80 closed

[2020-10-24 08:48] tdudgeon opened #126 "How to generate standard format PDB files from pdb2pqr?"
I'm wanting to generate standard PDB files from pdb2pqr so that I can utilise the optimised protonation of proteins in other tools that need standard PDB formats. By this I mean (at least):
- the 2 cols after the X, Y, Z coords have the values from the input PDB file, not the charge and radius
- the final col with the atom type and charge are present

Is this possible somehow?

[2020-10-25 15:15] sobolevnrm commented on #126
It's not directly possible but we're working on features to make this feature.  I'll let you know when those are available.  Thank you!

[2020-11-07 20:58] haoasakura12 opened #127 "generatet PQR files from PROPKA results"
Dear all,

I'm new in pdb2pqr, so I'm sorry if this is not the place for asking...

I'm trying to use the pdb2pqr to correct missing atoms and add hydrogens in my PDB file. I have introduced the `--titration-state-method propka --with-ph 4.0, it gives me only the PROPKA results, but does not change the PQR file (neutralizing the side chain of amino-acids with calculated pKa = 6.0).

The entire com

[2020-11-07 21:39] sobolevnrm commented on #127
Could you please share the input and output files; either here or via email:  nathanandrewbaker@gmail.com ?

[2020-11-08 17:47] haoasakura12 commented on #127
Hy sobolvnrm,

Thanks for your help. These are the files:
[files.zip](https://github.com/Electrostatics/pdb2pqr/files/5506863/files.zip)

[2020-11-11 18:37] intendo commented on #126
Is this the same as #110?

[2020-11-11 20:01] haoasakura12 commented on #127
Dear all,

I also want to know if it is possible to include carbohydrate structures together with the ligand to generate prq file.

Thanks for your time and help

[2020-11-12 02:45] sobolevnrm commented on #126
Yes.

[2020-11-12 02:47] #126 closed

[2020-11-15 00:07] sobolevnrm commented on #127
It is not currently possible to use carbohydrate structures and a ligand (essentially multiple ligands).

[2020-11-15 00:25] sobolevnrm commented on #127
When I run this, it doesn't generate a PQR file at all due to a problem assigning charges to the ligand.  The [1MQI](https://www.rcsb.org/structure/1MQI) PDB entry includes a ligand with a fluorine atom.  However, the MOL2 file you sent me contained a bromine.  Did you modify the MOL2 file but not the PDB?

[2020-11-15 01:36] haoasakura12 commented on #127
Sorry, i sent you the wrong input. The real one is 1mqh instead 1mqi.
Again, thank you for your help

Enviado do Yahoo Mail no Android

  Em sáb, 14 14e nov 14e 2020 às 21:25, Nathan Baker<notifications@github.com> escreveu:

--keep-chain --ligand ~/Downloads/Molecule.mol2 --titration-state-method propka --with-ph 5.0 -o 5.0 --ff=AMBER 1mqi ~/Documentos/1mq2

When I run this, it doesn't generate a

[2020-11-22 00:38] sobolevnrm commented on #127
I am able to reproduce this bug but have not figured out what is causing it.

On Sat, Nov 14, 2020 at 5:37 PM haoasakura12 <notifications@github.com>
wrote:

[2020-11-22 00:40] sobolevnrm commented on #127
Looking at the log file produced by PDB2PQR, there are several warnings of the form:
[code]
This is likely the source of the problem.  I'm not sure why PDB2PQR didn't recognize these.

[2020-11-22 01:15] sobolevnrm commented on #127
This is due to incorrect key formatting in `apply_pka_values` (https://github.com/Electrostatics/pdb2pqr/blob/8f8cde8b5589b450cf404782976a2c3cc6edc471/pdb2pqr/biomolecule.py#L754).  I'm working on a fix.

[2020-11-22 17:54] haoasakura12 commented on #127
Dear,

I would like to thank you.
I read you found the incorrect formatting and are now fixing it. When it is fixed, what should I do?
Is there a way to import the solution to my computer and try it?

[2020-11-23 01:42] sobolevnrm commented on #127
If you're feeling brave/impatient, you can do the following from a clean virtual environment:

1. `git clone https://github.com/Electrostatics/pdb2pqr.git`
2. `pip install -e .`

Otherwise, I'd look for a new PDB2PQR release in the next few days (perhaps tonight if I can get things squared away in time).

[2020-11-23 01:45] sobolevnrm commented on #127
Err... might take me longer than a day or so to generate a new release.  I forgot that we are missing some things in the new Python implementation.  I'd use the approach above for now.

[2020-11-23 01:45] #127 closed

[2020-11-23 01:56] sobolevnrm opened #129 "Release PDB2PQR 3"
The goal for PDB2PQR 3 is to be a pip-only install.  This means (temporarily) dropping PDB2PKA/APBS support from within PDB2PQR.  Since APBS is in development limbo, integration with PDB2PQR will be difficult anyway and there are some PDB2PQR bug fixes that need to be released sooner rather than later.  @speleo3 and @orbeckst -- does this cause you any concern?

If not, then we need to finish the

[2020-11-23 07:31] orbeckst commented on #129
I don't have a tremendous amount of insights into current pdb2pqr but the general strategy sounds sensible, especially with a view towards maintainability. I would only add that using semantic versioning might help in making clear to users which versions of pdb2pqr have the capabilities that they require.

[2020-11-23 09:36] tsenapathi commented on #129
Great idea @sobolevnrm! I will work on the packaging. Please let me know when there is a version that I can work with.

[2020-11-23 10:03] speleo3 opened #130 "Fix cif import"
The `mmcif_pdbx` API was changed in a backwards-incompatible way in https://github.com/Electrostatics/mmcif_pdbx/commit/9f12cce52a0b3352510c2285aff3f560fc4958d7

https://github.com/Electrostatics/pdb2pqr/blob/master/pdb2pqr/cif.py still uses the old API.

[2020-11-23 10:09] speleo3 commented on #129
A release without PDB2PKA support works for me. I agree with @orbeckst that semantic versioning would make sense. Are there any backwards incompatible changes compared to the 3.0.1 release on PyPI? https://pypi.org/project/pdb2pqr/#history

[2020-11-23 13:58] sobolevnrm commented on #129
Thanks, all!  I was definitely thinking of a 3.1 release.  This shouldn't
cause any backwards compatibility issues with respect to 3.0 besides
changing the installation mechanism.

Thanks again!

On Mon, Nov 23, 2020 at 2:09 AM Thomas Holder <notifications@github.com>
wrote:

[2020-11-25 11:34] dvdesolve opened #131 "Incorrect comparison in apply_pka_values()"
While preparing my protein with titration method = propka I've faced the following warning: `warning:pdb2pqr.protein pdb2pqr could not identify the following residues...` with a list of all troublesome residues. I've realized that the warning is false-positive because a key for comparison is pre-formatted with using exactly 1 space character, e. g. `key = "N+ %i %s" % (resnum, chain_id)`. However,

[2020-11-25 11:37] dvdesolve opened #132 "Final atom numbering in PQR is incorrect"
Seems like final numbering in PQR file is incorrect. This is what I get after running PDB2PQR (just a first 50 lines):
[code]

[2020-11-26 02:43] sobolevnrm commented on #132
Can you please provide the file that caused this problem?  Thanks.

[2020-11-26 05:57] dvdesolve commented on #132
`pdb2pqr30 --ff=AMBER --ffout=AMBER --titration-state-method=propka --with-ph=7.5 holoenzyme.pdb holoenzyme_H.pqr`

[holoenzyme.pdb.txt](https://github.com/Electrostatics/pdb2pqr/files/5600761/holoenzyme.pdb.txt) (renamed due to GH limitations)
[holoenzyme_H.pqr.txt](https://github.com/Electrostatics/pdb2pqr/files/5600762/holoenzyme_H.pqr.txt) (renamed due to GH limitations)
[pdb2pqr.log](https://

[2020-11-26 15:27] haoasakura12 commented on #127
Ok.
Again, thanks for your help.

[2020-11-27 00:23] sobolevnrm opened #133 "Update PDB2PQR setup.py"
https://github.com/Electrostatics/pdb2pqr/blob/ee2097b5f037d4f879d51447540d4fede27c85ed/setup.py#L74

* Correct Python versions
* Update license
* Update development status

[2020-11-27 22:57] sobolevnrm commented on #132
FWIW, this problem doesn't happen with the server which means it must be a bug I've introduced since then -- I can reproduce it with the head of the master branch.

[2020-11-27 23:32] sobolevnrm commented on #131
Thank you for posting the fix with the problem!

[2020-11-27 23:53] sobolevnrm commented on #132
Actually, it looks like #127 beat you to this.  I fixed it a few days ago in https://github.com/Electrostatics/pdb2pqr/pull/128; the fix is in the master branch now.  Thanks again.

[2020-11-27 23:59] sobolevnrm commented on #130
I can reproduce this problem on the master branch with `pdb2pqr30 --ff=AMBER --ffout=AMBER --titration-state-method=propka --with-ph=7.5 1fas.cif 1fas.pqr`

[2020-11-28 02:10] sobolevnrm commented on #130
However, I haven't figured out how to fix this problem yet.  @speleo3 -- any hints?

[2020-11-28 02:14] sobolevnrm commented on #131
Actually, it looks like #127 beat you to this. I fixed it a few days ago in #128; the fix is in the master branch now. Thanks again.

[2020-11-28 02:14] #131 closed

[2020-11-28 15:49] #64 closed

[2020-11-28 15:49] #54 closed

[2020-11-28 22:19] sobolevnrm commented on #130
Never mind; I figured it out.  Thanks!

[2020-11-28 23:47] #110 closed

[2020-11-28 23:49] #101 closed

[2020-11-29 01:58] sobolevnrm opened #138 "PDB2PQR logging is fouled up"
Running PDB2PQR from the command line results in no output:  neither the log file is generated nor is information written to the console.  Removing the file-based logging results in information being written to the console.

@bigdawgmj or @intendo -- any ideas?  I'll look into this as well.

[2020-11-29 02:00] sobolevnrm opened #139 "Make sure that all relevant PROPKA output is available through PDB2PQR"

[2020-11-29 02:01] sobolevnrm opened #140 "Disable PDB2PKA command line option."
Re-enable after #50 is resolved.

[2020-11-29 08:14] #109 closed

[2020-11-29 08:14] #133 closed

[2020-11-29 08:16] #130 closed

[2020-11-29 08:31] #138 closed

[2020-11-29 08:40] #132 closed

[2020-11-30 02:30] #139 closed

[2020-11-30 06:26] #140 closed

[2020-11-30 17:44] sobolevnrm opened #144 "Generate new "stability" output section of PDB2PQR"
- [ ] Include https://github.com/Electrostatics/osmolytes
- [ ] Possibly include PROPKA T-stability output (currently disabled)
- [x] Include PROPKA pH-stability results

[2020-12-03 16:13] haoasakura12 commented on #127
Dear,

Is there a way to know when this new version will be released for pip upgrade?

[2020-12-03 18:31] jcminerlanl opened #145 "Adding hydroxyproline to AMBER.DAT"
I am trying to incorporate hydroxyproline (HYP) parameters from "A new set of molecular mechanics parameters for hydroxyproline and its use in molecular dynamics simulations of collagen‐like peptides" (https://onlinelibrary.wiley.com/doi/full/10.1002/jcc.20301).

The following are the parameters I placed in pdb2pqr/dat/AMBER.DAT
[outmod.log](https://github.com/Electrostatics/pdb2pqr/files/5638191/

[2020-12-05 16:15] sobolevnrm commented on #145
Can you please share your *DAT and *PDB files so we can investigate?  Thank you.

________________________________
From: Jacob Miner <notifications@github.com>
Sent: Thursday, December 3, 2020 10:31 AM
To: Electrostatics/pdb2pqr <pdb2pqr@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Electrostatics/pdb2pqr] Adding hydroxyproline to AMBER.DAT (#145)

I am trying to inc

[2020-12-05 16:16] sobolevnrm commented on #127
Hi --

This is a nights/weekends undertaking for me due to other constraints so I don't have a specific timeline.  You can track progress at https://github.com/Electrostatics/pdb2pqr/issues/129.  In the meantime, you might want to try the approach I outlined above:
[code]

Thanks

[2020-12-09 19:41] rokdev opened #146 "CIF import broken"
Hi,
The CIF import feature seems broken in the current master (c8fcfd6):

[code]

[2020-12-10 02:32] sobolevnrm commented on #146
Hi Robert –

Can you confirm that you’re using the latest version of the mmcif package?

Thanks,

Nathan

From: Robert Konecny <notifications@github.com>
Date: Wednesday, December 9, 2020 at 11:42
To: Electrostatics/pdb2pqr <pdb2pqr@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Electrostatics/pdb2pqr] CIF import broken (#146)

Hi,
The CIF import feature seems broken

[2020-12-10 03:01] bhwl12 opened #147 "--pdb-output mislabel H as N"
I use the following command to prepare 6LZM, pdb2pqr mislabeled H as N in the pdb file. The output file was attached.

pdb2pqr30 6lzm.pdb test --ff CHARMM --pdb-output 6lzm_prep.dpb

[6lzm_prep.dpb.txt](https://github.com/Electrostatics/pdb2pqr/files/5670010/6lzm_prep.dpb.txt)

Thanks!

[2020-12-10 14:38] rokdev commented on #146
Hi Nathan,

This is with ``mmcif_pdbx-1.1.2``.

This is on Ubuntu 20.04 with these installation steps:

[code]
Thanks,

Robert

[2020-12-11 14:04] sobolevnrm commented on #146
OK; I'll try to investigate this weekend.  Thanks for the additional information!

[2020-12-13 04:16] sobolevnrm commented on #147
Thank you for all of the supporting information.  We will look into this as soon as possible.

[2020-12-14 00:58] sobolevnrm opened #148 "Make tmp*pka files truly temporary"
PDB2PQR incorrectly handles the temp files used by PROPKA.

[2020-12-14 02:22] sobolevnrm commented on #146
Hi @rokdev -- the PyPI package for mmcif-pdbx is messed up.  I'll be releasing a new one soon:  https://github.com/Electrostatics/mmcif_pdbx/issues/43

In the meantime, you should be able to `pip install .` from the master branch of https://github.com/Electrostatics/mmcif_pdbx to fix the problem.

Thanks

[2020-12-14 02:22] #146 closed

[2020-12-14 16:31] rokdev commented on #146
Thank you, Nathan!

[2020-12-18 13:22] aanastasiou opened #149 "How can I locate the `extensions` package?"
Hello

Is it possible to clarify the differences between release 2.1.1 and 3.0.0 please?

[2.1.1 seems to include](https://packages.debian.org/sid/amd64/pdb2pqr/filelist) an `extensions` package which enables options for generating hydrogen bonds, contacts map and salt bridges.

`extensions` is not there in 3.0.0 and there are also some differences in terms of options (`--ph-calc-method`` is now `

[2020-12-20 03:44] shaoqx opened #150 "Reporting bug running pdb2pqr30 from the command line"
I installed the program from `pip install pdb2pqr`.
The error was like this when I call `pdb2pqr30 --help` from the command line:
[code]
I looked into the pdb2pqr30 file and found the script is different from \_\_main\_\_.py in the package:
[code]
It seems outdated?

BTW, `python -m pdb2pqr` works well.

[2020-12-20 08:27] shaoqx commented on #150
Another problem:
when I ran this ` python -m pdb2pqr test.pdb test.pqr` with a pdb without ligands.
I receive this error:
[code]
I looked into the code and found the **lig_atoms** and **missing_atoms** are only assigned if args.ligand is not None. But it is used for no-ligand case also.
I added a `lig_atoms = []` and `missing_atoms = []` at the beginning of the `non_trivial()` function and solved

[2020-12-20 10:14] shaoqx opened #151 "How can I protonate with ion centers."
Hi,
I'm dealing with a PDB structure that contains 2 Zn2+ centers. The resulting structure form PDB2PQR do not contain these Zn and the coordinating HIS is protonated like the Zn does not exist. Can I fix this by some settings in the program? (like setting the Zn as a ligand?)
Would you mind give me some suggestions?

[2020-12-20 11:12] shaoqx commented on #151
Also, how can I deal with structure with multiple chains?

[2020-12-20 22:34] sobolevnrm commented on #150
Hello --

We are fixing issues with the pip version of the package.  I cannot reproduce this error with the master branch, so please try the following from a clean virtual environment:

[code]

Thank you

[2020-12-20 22:34] #150 closed

[2020-12-20 22:35] sobolevnrm commented on #151
Unfortunately, PDB2PQR does not currently support metal centers.  These will be removed by the program and you will have to reinstatement (possibly changing the titration states of the ligating groups) after running the structure through PDB2PQR.

[2020-12-20 22:36] sobolevnrm commented on #151
PDB2PQR already handles multiple chains.

[2020-12-20 22:36] #151 closed

[2020-12-20 22:39] sobolevnrm opened #152 "Incorrect choices for `--titration-state-method` option"
The `--titration-state-method` option has choices shown as ` --titration-state-method {p,r,o,p,k,a}` when running with `--help` option.

[2020-12-20 22:41] sobolevnrm commented on #149
Hello --

I need to create a useful change log for PDB2PQR.

We have removed the extensions option while refactoring the code.  Can you please share more about your use case for the extensions so we can determine how best to support it?

Thank you

[2020-12-20 22:42] sobolevnrm opened #153 "Create a useful change log for PDB2PQR"
Hello --

I need to create a useful change log for PDB2PQR.

We have removed the extensions option while refactoring the code.  Can you please share more about your use case for the extensions so we can determine how best to support it?

Thank you

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/pdb2pqr/issues/149#issuecomment-748681408_

[2020-12-21 00:40] sobolevnrm opened #155 "RTD shows the wrong version of PDB2PQR"

[2020-12-21 00:58] sobolevnrm opened #156 "Pytest fails in vanilla conda environment"
Missing module `testfixtures`.

[2020-12-21 01:06] sobolevnrm commented on #156
Adding `testfixtures` to the `setup.py` `test_requires` list does not fix this problem.  In fact, when running `python setup.py test` to test, I get the message:
[code]

Maybe it's time to upgrade to `tox`.  @intendo what do you think?

[2020-12-21 01:13] sobolevnrm commented on #156
Actually, let's not upgrade to tox--it does not play nicely with conda.

[2020-12-21 01:31] sobolevnrm commented on #148
Fixed in previous commit.

[2020-12-21 01:31] #148 closed

[2020-12-21 01:32] #156 closed

[2020-12-21 02:22] sobolevnrm opened #160 "Add Python 3.9 to CI pipeline"

[2020-12-21 03:41] #72 closed

[2020-12-21 04:44] shaoqx commented on #151
Thank you for your kind reply! I guess it was that PyMol does not recognize that all chains start from index 1 misleading me. The function was all good!

[2020-12-21 04:47] danny305 opened #164 "Inconsistent output between 2.1.0 and 3.0.1"
The following command works just fine with pdb2pqr2.1.1 whoever the equivalent command fails with the following error messages.

[code]
I am running this in a python3 docker container so I can't revert to using pdb2pqr2.1.

I can provide the raw pdb files if needed.

I am going to try to debug this but I thought I should let you guys know!

[2020-12-21 04:52] danny305 commented on #164
to be clear. both the of these files (3nir.pdb and 3m24_final_tot.pdb work just fine in 2.1.1

[2020-12-21 05:05] danny305 commented on #164
Here are the pdb files:

[pdb_files.tar.gz](https://github.com/Electrostatics/pdb2pqr/files/5722391/pdb_files.tar.gz)

[2020-12-21 06:36] #149 closed

[2020-12-21 06:36] #153 closed

[2020-12-21 06:36] #155 closed

[2020-12-21 06:37] #152 closed

[2020-12-21 06:38] #147 closed

[2020-12-21 06:39] #160 closed

[2020-12-21 06:39] #125 closed

[2020-12-21 06:40] #102 closed

[2020-12-21 13:17] sobolevnrm commented on #151
Great; thank you for the follow-up!

From: Qz <notifications@github.com>
Sent: December 20, 2020 20:44
To: Electrostatics/pdb2pqr <pdb2pqr@noreply.github.com>
Cc: Nathan Baker <nathanandrewbaker@outlook.com>; State change <state_change@noreply.github.com>
Subject: Re: [Electrostatics/pdb2pqr] How can I protonate with ion centers. (#151)

Thank you for your kind reply! I guess it was that PyMol doe

[2020-12-22 07:20] intendo commented on #129
Have we closed the loop with @Eo300?
Basically, is there anything you need from me at this point to help make release 3.1 possible?

[2020-12-22 14:12] sobolevnrm commented on #129
Could you please follow up with @Eo300 ?  Thanks!

[2020-12-22 14:29] sobolevnrm opened #166 "Remove unprocessed Markdown from package description"
See https://pypi.org/project/pdb2pqr/

[2020-12-22 14:30] sobolevnrm commented on #129
@tsenapathi -- the code is ready for a conda release when you have time:  https://github.com/Electrostatics/pdb2pqr/releases/tag/v3.1.0

Thank you!

[2020-12-22 15:03] tsenapathi commented on #129
Great! Thanks @sobolevnrm I will work on this

[2020-12-22 15:16] tsenapathi commented on #129
@sobolevnrm I am ready with the conda package. Can you have a look at the propka update ([](https://github.com/conda-forge/propka-feedstock/pull/8)) and merge if all good. I would like to use the latest version for this package.

[2020-12-22 22:17] Eo300 commented on #129
Would this feature manifest as a dropdown on the configuration page, adjusting the options on the page accordingly?

[2020-12-22 22:18] sobolevnrm commented on #129
That would be great!

[2020-12-22 22:52] Eo300 commented on #129
Sounds good, I'll get started with that

[2020-12-25 08:19] tsenapathi commented on #129
Conda package is up in conda-forge now (https://anaconda.org/conda-forge/pdb2pqr)

[2020-12-25 12:36] speleo3 commented on #129
@tsenapathi may I suggest some changes to the conda recipe?

- remove `pytest` from run requirements
- add `requests` to run requirements (and remove it from test requirements)

If you like I can send a pull request.

[2020-12-25 12:54] tsenapathi commented on #129
Of Course, send the pull request

[2020-12-25 14:20] speleo3 commented on #129
https://github.com/conda-forge/pdb2pqr-feedstock/pull/1

[2020-12-27 00:46] sobolevnrm commented on #164
There are many changes in PDB2PQR since 2.1.1; we've just updated the document with [a summary of these changes](https://pdb2pqr.readthedocs.io/en/latest/releases.html).

The `3nir.pdb` "works" with the latest version (3.1.0, released last week) of PDB2PQR:  the program fails gracefully when it encounters a gap in the backbone.

The `3m24_final_tot.pdb` fails with 3.1.0 because of **CISPEP** and *

[2020-12-27 00:46] #164 closed

[2020-12-27 00:47] sobolevnrm opened #170 "Fail gracefully on incorrectly formatted header records"
There are many changes in PDB2PQR since 2.1.1; we've just updated the document with [a summary of these changes](https://pdb2pqr.readthedocs.io/en/latest/releases.html).

The `3nir.pdb` "works" with the latest version (3.1.0, released last week) of PDB2PQR:  the program fails gracefully when it encounters a gap in the backbone.

The `3m24_final_tot.pdb` fails with 3.1.0 because of **CISPEP** and *

[2020-12-27 01:28] #170 closed

[2021-01-04 16:54] aanastasiou commented on #149
Hello @sobolevnrm

The extensions I was interested in were the `hbonds` and `contact` that included options for generating very detailed hydrogen bond and contact map outputs. Presumably that was in addition to useful operations such as pH determination and atom "debumping". It is the combination of these two capabilities that appeal to me.

Sounds like capabilities that are not coming back (?).

[2021-01-05 14:08] sobolevnrm commented on #149
Hi @aanastasiou --

I'll create an issue to restore the functionality but I can't predict how long it will take to implement.

Thanks,

Nathan

[2021-01-05 14:08] sobolevnrm opened #172 "Restore hbond/contact extension functionality"
Hi @aanastasiou --

I'll create an issue to restore the functionality but I can't predict how long it will take to implement.

Thanks,

Nathan

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/pdb2pqr/issues/149#issuecomment-754657503_

[2021-01-05 14:15] speleo3 opened #173 "Document backwards incompatible changes, like --chain -> --keep-chain"
I just noticed that the PROPKA 2.1 `--chain` argument is now `--keep-chain` (changed in 6f733072be5ee6dfdbe841eb0a8ab7bb7c9b9d24), and `--chain` now takes an argument and has a different meaning (is handled by `PROPKA`). This is neither mentioned in https://github.com/Electrostatics/pdb2pqr/blob/master/ChangeLog.md nor in https://github.com/Electrostatics/pdb2pqr/blob/master/docs/releases.rst

[2021-01-06 11:37] aanastasiou commented on #149
Hello @sobolevnrm and thank you for your response. I suppose that the code would require modification which means a more intimate knowledge of details than an outsider would have. But in any case, if there is anything I could help with, please let me know.

All the best

[2021-01-08 17:30] aanastasiou opened #174 "Similarity "metrics" references (?)"
Would it be possible to provide one or two references to the similarity metrics that are calculated by the `similarity` tool please?
And specifically, what do "Hodkgin" and "Carbo" refer to?

For some reason, the `analysis` and `similiarity` are somewhat unstable. For example `similarity` might crash (core dump) for a pair of scalars A,B but not if invoked with B,A.

`analysis` might also crash fo

[2021-01-11 19:18] intendo commented on #33
@sobolevnrm didn't we drop PROPKA from the pdb2pqr? Is this a propka issue? I don't know how to reproduce this in the new pdb2pqr since we ported it to Python 3. How would we run the equivalent of the command below?

[code]

[2021-01-12 13:50] sobolevnrm commented on #33
Nope:  we dropped PDB2PKA but kept PROPKA.

[2021-01-12 17:17] intendo commented on #33
@sobolevnrm, do you know where I can get GDH454.pdb so we can test this out and close this ticket?

[2021-01-12 17:19] sobolevnrm commented on #33
@PabloGGaray would need to provide it.

[2021-01-12 18:31] intendo commented on #33
@sobolevnrm since this originally started with a problem on the UCSD server, I think this problem is no longer relevant. I think @PabloGGaray should be able to use https://server.poissonboltzmann.org/ instead. This issue should probably be closed out.

[2021-01-12 19:16] intendo commented on #156
@sobolevnrm it looks like there is a tox conda plugin that you can use to integrate tox and conda.
See https://github.com/tox-dev/tox-conda

[2021-01-13 02:50] sobolevnrm commented on #156
Thank you but it seems like a lot of gymnastics to enable testing.

[2021-01-13 02:52] sobolevnrm commented on #33
Sounds good; thank you.

[2021-01-13 02:52] #33 closed

[2021-01-13 02:54] sobolevnrm commented on #173
I agree.  I will make the change when I have the time... unless anyone else beats me to it. :)

Thanks!

[2021-01-13 02:57] sobolevnrm commented on #174
Here is a reference for the metrics:

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2561295/

I am working to replace the unstable C code with more stable Python code but progress is slow.

Thank you

[2021-01-13 02:57] #174 closed

[2021-01-22 11:40] aanastasiou commented on #174
Many thanks.

[2021-01-25 22:20] intendo opened #175 "How to handle charge and radii in mmCIF"
We can use CIF files as input to PDB2PQR but how do we handle the atom charge and radii?

Using the [mmcif_pdbx package](https://github.com/Electrostatics/mmcif_pdbx), we can load PDB (atom_site) data from a CIF file using something like the following:
[code]

There are other dictionaries that have radius and charge.

For example, there is the chem_comp_atom.charge
(integer) or chem_comp_atom.part

[2021-01-26 03:16] sobolevnrm commented on #175
@speleo3 and @orbeckst -- do you see any use cases where PQR-like information would be useful in mmCIF format?  If not, we'll probably treat this as low priority.  Thanks!

[2021-01-26 07:05] speleo3 commented on #175
I'd be all for deprecating PQR and only using something mmCIF based instead. The use case would be that we could abandon PQR parsers :-)

That was my original request in https://github.com/Electrostatics/pdb2pqr/issues/34

Such a file could be a 100% valid mmCIF file with added radius and charge columns. I'm not sure though if `_chem_comp_atom` properties are a good fit, that would require for exa

[2021-01-27 03:04] sobolevnrm commented on #34
Oops... @speleo3 just told me I totally misunderstood this issue and the original intent was to have PDB2PQR produce mmCIF that APBS and other programs could consume.

[2021-01-27 03:17] sobolevnrm commented on #175
Oops -- sorry about that!  I re-opened the original issue.

________________________________
From: Thomas Holder <notifications@github.com>
Sent: Monday, January 25, 2021 11:05 PM
To: Electrostatics/pdb2pqr <pdb2pqr@noreply.github.com>
Cc: Nathan Baker <nathanandrewbaker@outlook.com>; Assign <assign@noreply.github.com>
Subject: Re: [Electrostatics/pdb2pqr] How to handle charge and radii in mmCIF (

[2021-01-28 22:26] jcminerlanl commented on #145
I resolved it. I think the parameters I was using lacked an 'O'.
Once all of the atoms were in, and named to match the PDB, the conversion worked fine.
Thank you.

[2021-01-28 22:26] #145 closed

[2021-02-02 19:29] intendo commented on #175
@speleo3 I think we could add the custom fields in the _atom_site table but I didn't know if that would create non-standard mmCIF files that could not then be parsed by other mmCIF parsers like https://github.com/biopython/biopython/blob/master/Bio/PDB/MMCIFParser.py

That is why I was wondering if there is another section that could be used to hold the charge and radius that would be accessible t

[2021-02-03 20:39] cgseitz opened #176 "UnboundLocalError: local variable 'pH_opt' referenced before assignment"
Hello,

I am running into an error trying to use APBS. My pdb is quite large (300k atoms); when I uploaded it to the web server, it quickly said that my system was too large to use. I then tried using the command line version ```pdb2pqr/2018.2.1``` using the command ```pdb2pqr.py --ff=charmm --ffout=charmm --with-ph=7.5 --ph-calc-method=propka --verbose --summary 48chains_for_MD.pdb test3.pqr```.

[2021-02-05 01:01] cgseitz commented on #176
Robert Konecny was able to fix the issue - it just required using a newer version of pdb2pqr.  His steps to run the newer pdb2pqr are reproduced here:

[code]
and for future users, the run command I needed was
[code]

[2021-02-05 01:01] #176 closed

[2021-02-05 03:06] sobolevnrm commented on #176
Great!

________________________________
From: Christian Seitz <notifications@github.com>
Sent: Thursday, February 4, 2021 5:01 PM
To: Electrostatics/pdb2pqr <pdb2pqr@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Electrostatics/pdb2pqr] UnboundLocalError: local variable 'pH_opt' referenced before assignment (#176)

Robert Konecny was able to fix the issue - it ju

[2021-02-10 19:08] anna875x opened #177 "Charge of C-terminus in pdb2pqr"
This may be a very simple question (sorry), but I'm unfamiliar with changing settings in pdb2pqr and have only ever used the default parameters.

I would like to use PyMOL ABPS to do an electrostatic calculation. All parameters will be the default, except I wish to change the C-terminal charge from negative to neutral. According to the documentation, there is a way to do this: https://pdb2pqr.read

[2021-02-11 08:44] speleo3 commented on #177
Command line options `--ff=PARSE --neutralc` should do the trick, the PyMOL APBS panel "Advanced Configuration" tab has a field for that:

![pymol-apbs-neutralc-2](https://user-images.githubusercontent.com/1239490/107616062-969bb300-6c4d-11eb-8354-daaeb24b6e4d.png)

[2021-02-17 17:56] anna875x commented on #177
You are a LIFESAVER!! I didn't realize it was so easy, thank you so much!

[2021-02-17 17:56] #177 closed

[2021-02-17 22:27] vpurohit15 opened #178 "Ligand parameterization not working for me."
Hello,

I have been recently trying to use PDB2PQR to generate .pqr files for my ligand. I generated .mol2 files for it after adding charges and hydrogens for it on chimera and then deleting the rest of the protein and additional ligands before saving the ligand .mol2 file. However, while using pdb2pqr to generate the .pqr file in an AMBER force field, I get the following error for the ligand: "PD

[2021-02-23 14:04] sobolevnrm commented on #178
Can you please let us know what version of PDB2PQR you are using and the command line arguments with which you invoked the program?  Thanks.

[2021-03-03 08:37] speleo3 opened #179 "drop pandas requirement?"
`pdb2pqr` uses `pandas` in only one place for a pretty trivial task: Pass a table from `run_propka()` to `non_trivial()` only to extract two columns. The code could easily be changed to:
[code]
With this change, we could drop `pandas` from `install_requires` and move it to `tests_require` (it's used for a few tests).

I like to keep run dependencies lightweight when possible, and dropping `pandas`

[2021-03-03 13:38] sobolevnrm commented on #179
That makes sense to me.  I can try to work on it this weekend unless you or @intendo want to submit a PR sooner.  Thanks!

[2021-03-03 14:55] speleo3 commented on #179
I already had the patch ready to be uploaded :-)
PR https://github.com/Electrostatics/pdb2pqr/pull/180

[2021-03-03 14:58] sobolevnrm commented on #179
Nice; thank you!

[2021-03-04 03:34] #179 closed

[2021-03-08 16:08] rokdev opened #181 "psize seems broken"
When running `psize` on any .pqr file I get `No ATOM entries in file!`. This is the latest `pdb2qpr` from git:

[code]

[code]

[code]

[code]

[2021-03-10 14:41] rokdev commented on #181
Hi Nathan,

I think this can wait until `psize` is in APBS.

Thanks!

[2021-03-17 02:50] danny305 commented on #175
Whats the status of the CIF output file?

[2021-03-17 02:59] sobolevnrm commented on #175
I am working on it as quickly as I can.  Would you like to help?

[2021-03-17 04:27] danny305 commented on #175
Yes. I can probably start dedicating some serious time mid next week.

Can y'all catch me up over the next few days on the status, implementation design, and what needs to be done?

[2021-03-17 12:59] sobolevnrm commented on #175
Sure!  I have some initial code that I'll post in a few days.  The PDB ->
CIF translation works well but I was holding off releasing it to get the
CIF -> PDB part done.  I'll remedy that shortly.

Thanks!

On Tue, Mar 16, 2021 at 9:28 PM Danny Diaz ***@***.***> wrote:

[2021-03-17 18:49] danny305 commented on #175
Awesome. Let me know when you post the code for me to begin familiarizing myself.

Ill let you know when I finish up what I am working on and can transition over to this here in the next week or so.

[2021-03-23 01:30] sobolevnrm commented on #175
For clarification, this is "few days" in COVID time: I'm still working on the code.  I wrote most of it and then found a better way to do it so...

[2021-03-23 01:44] danny305 commented on #175
I am preparing slides/code for a talk this Friday.

I am also implementing the writing of CIF files functionality in our other library dependency ([freesasa](https://github.com/mittinatten/freesasa/pull/59)).

So quite honestly, sometime next week will probably be more realistic on my end.

Writing a PQR CIF file is the last loose end in our tech stack so I definitely want to hammer this out in th

[2021-04-13 13:11] padix-key opened #184 "Invalid link to documentation"
The link to the documentation in `README.md` (https://apbs-pdb2pqr.readthedocs.io/en/latest/getting-started.html) leads to a missing *Read The Docs* page. I think the correct link should be https://pdb2pqr.readthedocs.io/en/latest/.

[2021-04-13 13:33] sobolevnrm commented on #184
Thank you very much for pointing this out!

[2021-04-13 15:11] #184 closed

[2021-04-14 15:51] dadaix opened #186 "nucleic acids residue charge is non-integer"
when running pdb2pqr30 (version 3.4.0) on my nucleic acid structure I get

CRITICAL:main.py:768:main_driver:Residue DG5 1 charge is non-integer: -0.3079
CRITICAL:main.py:769:main_driver:Giving up
(when using --ff=AMBER)

[test.log](https://github.com/Electrostatics/pdb2pqr/files/6312033/test.log)

[2021-04-16 01:56] sobolevnrm commented on #186
Are you able to share the PDB for the nucleic acid structure that caused the problem?

[2021-04-18 15:39] dadaix commented on #186
I cannot share the molecule I am working on currently. However, I also try to run it on an already published structure (PDB ID 6sx6) and I get the same error.

In case I use --ff=PARSE  I get the same error but for DA 5 resiude.

[2021-04-28 21:53] danny305 commented on #175
Ready to start contributing. I'm guessing it's the nathan/cif branch?

[2021-04-29 00:15] intendo commented on #175
@speleo3 @sobolevnrm did we ever decide on the two custom field names in the `_atom_site` table for the charge and radii?

[2021-04-29 01:52] sobolevnrm commented on #175
No, but we should probably address this in https://github.com/Electrostatics/pdb2cif.

@danny305 -- I was going to redirect you over there as well for this thread.

[2021-04-29 02:58] danny305 commented on #175
Why don't we just use Gemmi to convert between the two?

[2021-04-29 03:07] sobolevnrm commented on #175
Let's move this discussion to the other repo.  Can you provide description of what Gemmi does over there?  Thanks.

[2021-04-30 11:00] brcnacar opened #187 "Adding 2 ligands simultaneously"
I would like to introduce 2 mol2 files: one for phosphotyrosine and one for ATP. But I am only allowed to submit one mol2 file. how can I do this?

[2021-05-03 13:55] tomcastigl opened #188 "Failed - Loading Job Data: Out of memory error"
Hello,

I try to convert a pdb file I got from charmm-gui webserver into pqr file. I get the error "Failed - Loading Job Data: Out of memory error", is this a known problem?  I could not find information over the internet. The file is not corrupted, I ran gromacs simulations with it. the job ID: lp5byjx1e6

Thanks for help!
Thomas

[2021-05-04 22:02] intendo commented on #188
There were a few problems that we found.
- The VM on our existing Azure cluster was too small to hold all the output data.
- One of the output files was the standard error log file from pdb2pqr trying to parse the step5_assembly.pdb file.
- The PDB file has 302,274 ATOMs in it and pdb2pqr can only recognize the first 99,999 because the PDB file format does not support more than 99,999 ATOMs/HETATM

[2021-05-05 18:02] sobolevnrm commented on #187
I think you can include multiple molecules in a single mol2 file; however, you may need to edit it manually.  This feature isn't currently planned for support in PDB2PQR.

Thank you

[2021-05-05 18:02] #187 closed

[2021-05-05 19:12] tomcastigl commented on #188
It works on the AWS cluster! thank you very much.

[2021-05-05 19:47] intendo commented on #188
Thanks @tomcastigl

[2021-05-05 19:47] #188 closed

[2021-05-11 19:01] #129 closed

[2021-05-12 20:28] chrisl0328 commented on #20
Hi is there any follow up to this? When I run pdb2pqr with the following command:

`pdb2pqr30 --with-ph=7.4 --titration-state-method=propka --drop-water --include-header --ff=AMBER --ffout=AMBER c11_0395.pdb testing.pqr`

The resulting .pqr file does NOT contain a header. I really need to see the header to get the total charge of the protein.

I even tried modifying the default value for the --inc

[2021-05-13 03:35] sobolevnrm commented on #20
You can calculate the total charge by summing the charge column of the PQR file and/or loading the PQR file into APBS.  Is that sufficient for what you need?

[2021-05-13 19:23] Eduardo1ra opened #190 "CRITICAL:Unable to recognize user-defined forcefield file cnh.prmtop! Please use a valid parameter file."
Hi!

I have been trying to generate a pqr file for my system (a modified carbon nanotube) that was parameterized in the Amber software. I have a **formatted pdb file** CNHox_pqr.pdb, **Amber topology file** cnh.prmtop. I use the following command line:

 pdb2pqr30 CNHox_pqr.pdb CNHox_pqr.pqr --userff cnh.prmtop --assign-only --apbs-input input_ABDS.in --usernames cnh.prmtop
INFO:PDB2PQR v3.1.0: bi

[2021-05-13 23:28] intendo commented on #190
The primary error looks like pdb2pqr cannot read your cnh.prmtop file.

I tried to run the CNHox_pqr.pdb file on the [APBS/PDB2PQR web server](https://server.poissonboltzmann.org) (which still runs version 2.1.0 of pdb2pqr) and got the following output in stderr:
[code]

This indicates that the actual pdb file does not work with the default parameters. You may want try the web server to see if you

[2021-05-14 01:43] sobolevnrm commented on #190
PDB2PQR requires a specific type of parameter file format:  https://pdb2pqr.readthedocs.io/en/latest/extending.html

Based on the naming convention you provided above, I suspect you are using standard AMBER parameter/topology formats.  PDB2PQR does not work with those.

[2021-05-14 12:42] Eduardo1ra commented on #190
Hi Darren Curtis and Nathan Baker!
Thank you for your responses. I was using a standard AMBER parameter file as mentioned by Nathan. I'll follow the instructions for preparing this specific type of parameter file format.

[2021-05-14 12:57] sobolevnrm commented on #190
Great; thank you!

[2021-05-14 12:57] #190 closed

[2021-05-26 14:48] bb2n18 opened #191 "Error with the online web server"
Hi,

I use the online web server to get the electrostatic profile of a protein surrounded by many lipids.
I load a pdb file together with a mol2 file for the parameters of the lipids, however it crashes with the following error:

Error parsing line: invalid literal for int() with base 10: 'ori'
<REMARK original generated coordinate pdb file>
Duplicate atom names (N) found in ligand file!
Duplicate

[2021-05-27 02:54] sobolevnrm commented on #191
@Eo300 @intendo can you please look into this?

[2021-05-27 23:49] Eo300 commented on #191
Hi @bb2n18, apologies for the issues you're experiencing.  Are you willing to share the PDB/mol2 files or the the ID of the job where you're encountering this?  It should help with the troubleshooting process.  Thanks!

[2021-05-28 15:38] marcushock opened #192 "Broken biomolecule with pdb2pqr30 but works on webserver."
I'm trying to convert a PDB structure of myosin from an MD simulation into a pqr file.  When using the web server online, I am able to successfully convert it, however using the command line interface, I'm having issues, and get the error that there is a gap in the biomolecule structure.
In the command line interface I'm using the command:
`pdb2pqr30 --titration-state-method=propka --with-ph=7 --f

[2021-05-30 10:03] dongdawn opened #193 "water hydrogen element error"
![image](https://user-images.githubusercontent.com/29708306/120100020-1902a100-c171-11eb-9d99-3e0b3763db70.png)
After adding hydrogen in O, the element O was assigned, however, it should be H.

[2021-06-01 14:01] bb2n18 commented on #191
Hi @Eo300 ,

Thanks for your reply! Sorry for my late one.
Sure, I can share the files I used, and the ID of the online job I just tried is: mnb75dcw9h
How can I send you the files? It seems that these formats are not supported on this chat...

[2021-06-01 14:12] sobolevnrm commented on #191
@bb2n18 -- I think you can just add "*.txt" to the end of the PBD/MOL2/input files.

[2021-06-01 14:17] bb2n18 commented on #191
[frame300_vmd.pdb.txt](https://github.com/Electrostatics/pdb2pqr/files/6576867/frame300_vmd.pdb.txt)
[frame_0.mol2.txt](https://github.com/Electrostatics/pdb2pqr/files/6576873/frame_0.mol2.txt)

[2021-06-01 14:18] bb2n18 commented on #191
Nice! Thank you @sobolevnrm

[2021-06-02 02:04] sobolevnrm commented on #193
Hello -- this definitely looks like a bug.  Thank you for letting us know!

[2021-06-07 17:18] Eo300 commented on #191
**Regarding the error: Error parsing line: invalid literal for int() with base 10: 'ori':**
I noticed the REMARK your PDB file contains some incorrect column spacing.  The REMARK statement expects a record number integer within columns 8 through 10, whereas your remark string follows the "REMARK" keyword.  PDB2PQR attempts to parse the substring "ori" as an integer.
Moving "original" to start at t

[2021-06-09 12:41] stefdoerr commented on #193
Hi, this is caused by the create_atom function not setting the element and copying the element of the reference atom of the water which is an oxygen. It's fixed in this PR https://github.com/Electrostatics/pdb2pqr/pull/195

[2021-06-09 12:46] stefdoerr commented on #186
I've seen this occur as well but on AMBER waters. The bug (at least in my case) is that AMBER defines waters as:
[code]
See how the two hydrogen atoms have the same name.
`pdb2pqr` seems to have an issue when creating the template `DefinitionResidue` where if it has two atoms in the definition file with the same name it will overwrite the first atom:
[code]
results in this object
[code]
Here you c

[2021-06-09 13:28] sobolevnrm commented on #186
Thanks, @stefdoerr !

[2021-06-09 13:52] sobolevnrm commented on #191
I agree that this could be a new feature request but I'm not sure it would get very high priority for a while.  Sorry.

[2021-06-14 15:19] bb2n18 commented on #191
Hi, thank you for your replies.
I corrected the "REMARK" line. However, I just tried to run the same calculation on the protein with only one lipid as a ligand. And I get the same issue, and I noticed that the error file presents the error as "Duplicate atom names (O) found in ligand file!" for atoms that don't belong to the ligand but to the protein. Should I only have the ligand atoms in the mol

[2021-06-15 10:24] bb2n18 opened #199 "DX file doesn't get written until the end"
Dear all,

I am very confused about the web server, because I am trying to use APBS on a protein, and I managed to make it work completely twice, but could never rerun the same calculation successfully then...
What happens is that the PDB2PQR module works well, then when I use that output as input in APBS, it runs and shows a successful ending with the green tick, but the output file is not writte

[2021-06-15 10:26] bb2n18 commented on #199
The dx file looks like:

# Data from 3.0
#
# POTENTIAL (kT/e)
#
object 1 class gridpositions counts 161 193 193
origin 3.504900e+01 2.942400e+01 1.843200e+01
delta 4.818750e-01 0.000000e+00 0.000000e+00
delta 0.000000e+00 4.638542e-01 0.000000e+00
delta 0.000000e+00 0.000000e+00 5.152604e-01
object 2 class gridconnections counts 161 193 193
object 3 class array type double rank 0 items 5997089 dat

[2021-06-15 13:28] sobolevnrm commented on #199
@Eo300 @intendo can you please look into this?  This seems similar to an error that another user emailed me about.

Thank you

[2021-06-16 22:47] Eo300 commented on #199
Hi @bb2n18 , this was indeed a RAM-related issue, specifically with the web deployment.  Electrostatics/apbs-aws#120 has addressed the issue, and the change should be live now on the website.  Can you attempt another APBS calculation to confirm whether it is fixed on your end as well? Thanks!

[2021-06-18 19:00] boristim66 opened #200 "Error in the construction of a network of hydrogen bonds"
The construction of a network of hydrogen bonds does not work for atoms of the same residues with the same numbers, but belonging to different chains due sort error :
[3hto_chainsOB.zip](https://github.com/Electrostatics/pdb2pqr/files/6678874/3hto_chainsOB.zip)
$ pdb2pqr30 --ff AMBER --with-ph 4.5 --drop-water --keep-chain "3hto_chainsOB.pdb" "3hto_chainsOB.pqr"
............
DEBUG:* Optimizeable t

[2021-06-21 14:03] sobolevnrm commented on #200
Thank you for letting us know about this problem; we will investigate.

[2021-06-21 19:11] intendo commented on #200
@Eo300 and I worked on this today. The underlying problem is in the sorting of the dictionary where the keys are `PotentialBond` (class object), and the values are hydrogen bond distances (floating point).

The `utilities.py:sort_dict_by_value` function tries to sort the dictionary by the hydrogen bond distances and return a list of `PotentialBond` objects in descending order.

The "problem" is th

[2021-06-22 14:58] bb2n18 commented on #199
Hi @Eo300, thank you very much for your reply and help. I have run a couple of new calculations and they both worked with complete dx files in output!
Many thanks!

[2021-06-22 14:59] #199 closed

[2021-06-22 21:30] boristim66 commented on #200
In this model, the biological unit (trimer of influenza hemagglutinin) is mathematically assembled from three asymmetric units, so there are complete matches of distances. I understand that to solve my problem, it is enough to add a jitter to the coordinates of atoms. However, there remains a very small possibility that, when used intensively in the future, identical distances between atoms may oc

[2021-06-24 19:24] sobolevnrm commented on #200
The *EASY* solution from @intendo sounds reasonable to me.  @boristim66 did the output above look OK to you?

[2021-06-24 22:03] boristim66 commented on #200
As a pdb2pqr user, of course, it will suit me. As a programmer, I would ask if a unique sort key is later used to search the array.

[2021-06-28 20:51] JungUn-Park opened #201 "pdb2pqr server issue"
Hello all,

I am trying to run a pdb2pqr and apbs using the web server, but all of my attempts are failing. Uploading my local pdb file gives me "~.pdb file upload failed" error, and running with a published pdb code also doesn't proceed at this step. Could you take a look, please? Thank you!

Best,
JungUn

[2021-06-28 22:27] Eo300 commented on #201
Does this error occur as soon as you select your file? If so, then your browser may be loading an older/cached version of the website, though doing a hard reload (Ctrl+Shift+R for Windows/Cmd+Shift+R for Mac) may resolve some issues.

[2021-06-29 00:52] sobolevnrm commented on #201
Hello.  We will need an example PQR file to troubleshoot this issue.  Thank you.

[2021-06-29 00:57] JungUn-Park commented on #201
Thank you for the quick response! Hard reload made it work! Thank you so much!

[2021-06-29 00:57] #201 closed

[2021-06-30 06:02] intendo commented on #200
@boristim66, how would you want the following sorted:
[code]
We would probably need to sort by the first atom.name and then the first atom.residue followed by the second atom.name and then the second atom.residue. If so, that shouldn't be too difficult to implement.

[2021-06-30 07:37] boristim66 commented on #200
It's look nice.

[2021-07-06 01:45] sobolevnrm opened #202 "pip fails to install "requests" package"
Running from a clean conda environment:

[code]

fails to install the `requests` package which becomes apparent when running pdb2pqr.

[2021-07-06 01:53] sobolevnrm commented on #200
This problem also occurs for `7d1t`.

[2021-07-06 10:04] bb2n18 opened #203 "Run a ligand only"
Dear APBS team,

Is there a way to run APBS on a ligand only on the web server? Such as a lipid alone, a small molecule or even an atomic cation for example?

Thank you for your reply,
Best regards,
Bastien Belzunces

[2021-07-07 02:40] sobolevnrm commented on #203
Hello --

This is not currently a feature but definitely something we can consider for the future.

Thank you

[2021-07-07 06:13] intendo opened #204 "PDB2PQR cannot parse the 7d1t.pdb file locally or when downloaded from RCSB.org"
Problem:
- PDB2PQR cannot parse the 7d1t.pdb file locally or when downloaded from RCSB.org.

Steps to recreate the problem:
- Download file, [7d1t.pdb](https://files.rcsb.org/download/7d1t.pdburl), to you local filesystem
- Open the 7d1t.pdb file in your favorite editor (e.g. VS Code)
- Go to line 1936, and see the record, `CRYST1    1.000    1.000    1.000  90.00  90.00  90.00 P 1`
- Observe that

[2021-07-07 06:23] intendo opened #205 "PDB2PQR cannot use propka on input file, 7d1t.pdb."
Problem:
- When using the following command, there is an error from propka:
-- `pdb2pqr30 --ff=PARSE --titration-state-method=propka --apbs-input=7d1t.in --drop-water 7d1t.pdb 7d1t.pqr`

NOTE: Assuming you fix line 1936 in 7d1t.pdb, the output shows the following error:
[code]

It would be great if the parsers could report the line number they were parsing to help identify any input file problems.

[2021-07-07 20:34] intendo commented on #200
We were able to fix the original problem by fixing the code that does the sorting.
We ran into another problem with the actual 3hto_chainsOB.pdb file. The residue sequence numbers had values of 132A in columns 24-27 on lines 1003-1009. According to the PDB format for [ATOM](https://www.wwpdb.org/documentation/file-format-content/format33/sect9.html#ATOM), those values have to be integer.

@boristi

[2021-07-08 14:35] boristim66 commented on #200
According PDB specificatinon, see your ATOM reference,
...
23 - 26        Integer       resSeq       Residue sequence number.
27             AChar         iCode        Code for insertion of residues.
...
Position 27 is frequently used for symbols, idicating volatile regions of AA, where insertions occured to preserve  common numeration of protein. At least for flu(influenza)  proteins, this is wid

[2021-07-08 22:33] intendo commented on #200
@boristim66 , I apologize, you are correct. I fixed the original sort problem and introduced another problem that was fixed and merged into the main branch today. I was able to use the source code that is currently on the main branch on your file and get an output pqr file.

Please download the source from main and let us know if this version resolves the problem.

[2021-07-09 16:56] boristim66 commented on #200
@intendo, All works fine, thank you very much. I will analyze the results.

[2021-07-09 17:05] #200 closed

[2021-07-10 20:27] boristim66 opened #208 "Naming of hydrogen atoms"
I found that for added hydrogen atoms, if there are two, their numbering begins with "2",
regardless of the chosen scheme of naming atoms.
I have never met with such a scheme of names in moldinamics before.
For Gromacs, such names create great difficulties.
Is that  a feature or  a bug?

ATOM      1  N   ASP A   5      74.598  95.955  67.868  0.0782 1.8240
ATOM      2  CA  ASP A   5      74.693  9

[2021-07-10 20:47] boristim66 commented on #208
I looked at the AMBER parameters, indeed, the names are such, beginning with "2." It seems that I will have to make my own DAT file for use with Gromacs. I'm closing this issue.

[2021-07-10 20:48] #208 closed

[2021-07-12 21:46] intendo opened #209 "Remove versioneer"
Fix versioning like we did in mmcif_pdbx

[2021-07-12 23:23] sobolevnrm opened #210 "PDB2PQR should not crash when reading malformed PDB headers"
The code should be more tolerant of the odd `REMARK` and similar headers that some files generate.

[2021-07-12 23:24] sobolevnrm commented on #210
For example:
[code]

[2021-07-13 14:19] stefdoerr opened #211 "New release"
Hi, I just wanted to ask if the are plans for making a new pdb2pqr release for conda, because a project of mine depends on the package.
Thanks!

[2021-07-14 01:54] sobolevnrm commented on #211
Hello.  I prefer pip as a distribution mechanism and, frankly, can't figure out conda forge to save my life. @tsenapathi do you have time to look at this?  Thanks!

[2021-07-14 04:34] tsenapathi commented on #211
@sobolevnrm and @stefdoerr pdb2pqr is in the cond forge already ([](https://anaconda.org/conda-forge/pdb2pqr)) and is we have the latest release (3.1.0) here

[2021-07-14 07:14] stefdoerr commented on #211
Right, I was just curious if you were planning a 3.1.1 version with the latest fixes

[2021-07-14 07:22] tsenapathi commented on #211
Conda release is the same as the version in pypi. Currently, it is in 3.1.0. @sobolevnrm needs to decide on releasing of 3.1.1 version to pypi.

[2021-07-14 12:09] sobolevnrm commented on #211
Ah -- got it.  I will try to get going on this over the next few days.  Thanks.

[2021-07-14 12:09] #209 closed

[2021-07-19 13:59] lx19930 opened #213 "Webserver and local machine give different PKA results"
Hi,
I find that the webserver and my local machine give different PKA results. Some PKA value from webserver is negtive which seems weird to me. Which result should I trust?
I packaged the pdb I used and the results from webserver and the my local machine. Can you check them and tell me what's the reason for the difference please?
Thank you!
Best wishes
[pka.zip](https://github.com/Electrostatics/

[2021-07-19 16:56] intendo commented on #213
The webserver is using an older version of PDB2PQR that is still using Python 2.7. The version you have locally is probably the version of PDB2PQR 3.1.X that is using Python 3.X. @Eo300 do you know enough about the PKA processing to explain the differences in calculated values?

[2021-07-30 01:23] elinaKari opened #214 "PDB2PQR no PQR file in outputs"
Hi,

What can be missed in PDB file that prevents the PQR file formation in outputs? I basically get only .json, .txt, .txt, and .log files

Thank you in advance for your reply.

[2021-07-30 01:40] Eo300 commented on #214
The lack of a PQR file in the output may indicate that the process failed mid-execution. Were you able to inspect the .log file to see what error message(s) were output towards the end?

Otherwise, are you able to provide your input file(s) or the associated job ID (if you were using the server) so that we can reproduce your issue on our end?

[2021-07-31 18:47] leofrancalima opened #215 "The PDB2PQR is not generating a .in file and is not enabling me to use the "use results on APBS" option"
Dear APBS server team,

I hope this find you well,

I'm using the online server for pdb2qr and APBS calculations.

When I submit my .pdb file to pdb2qr, the program run and finally return the "complete" comunication. However, just the respective .json, .txt, .log and .stdout.txt outputs are returned, without the generation of the .in file and without enabling the "use results on APBS" icon.

What

[2021-07-31 18:52] leofrancalima commented on #215
Oh, Still about the message above:

The .pqr file (the most important on this calculation) isn't being generated either. My job ID is rg9wf29e09.

Thank you so much.

[2021-07-31 23:20] Eo300 commented on #210
From what I found, this appears to be already be addressed in the `master` branch in `pdb.py`:
https://github.com/Electrostatics/pdb2pqr/blob/1264a73e7a62f747af4b8cd09fa0dba02ddb1473/pdb2pqr/pdb.py#L2581-L2590

Where it's eventually detected in io.py:
https://github.com/Electrostatics/pdb2pqr/blob/1264a73e7a62f747af4b8cd09fa0dba02ddb1473/pdb2pqr/io.py#L462-L467

However, the former snippet was add

[2021-08-01 15:05] sobolevnrm commented on #215
@Eo300 can you please look into this?  Thanks.

[2021-08-02 17:20] Eo300 commented on #215
Hi @leofrancalima, after looking into your issue, it appears that the REMARK line in your PDB input is causing the parsing to fail.  According to the [format](http://www.wwpdb.org/documentation/file-format-content/format33/remarks.html), columns 8-10 of a REMARK should be a reference number, which would be an integer of your choosing.

**Example:**
[code]

Your calculation should continue as expec

[2021-08-02 18:53] leofrancalima commented on #215
Dear Elvis,

Thank you so much for your response. I have already removed this line from
the PDB and the process has been carried out correctly.

Thank you again,

Sincerely,

Leonardo Lima.

Em seg., 2 de ago. de 2021 às 14:21, Elvis ***@***.***>
escreveu:

[2021-08-03 12:38] #215 closed

[2021-08-05 02:25] sobolevnrm commented on #210
Fixed in 8c810ca64e6a6fb4c39c2394f3da28d317fc6350

[2021-08-05 02:25] #210 closed

[2021-08-05 18:15] intendo commented on #202
@sobolevnrm did this get fixed in version 3.2.0?
I cannot reproduce this error.
I ran `pip uninstall requests` (which was not installed) and then `pip install pdb2pqr` and got the output below showing that `requests` did get installed:

[code]

[2021-08-05 18:26] Eo300 commented on #202
Looks to be the case.. Found the declaration within the `setup.py`: https://github.com/Electrostatics/pdb2pqr/blob/v3.2.0/setup.py#L59

[2021-08-05 19:11] intendo commented on #202
I think we can close this now and reopen it if someone finds it is still a problem.

[2021-08-05 19:11] #202 closed

[2021-08-05 19:23] Eo300 opened #217 "Using '--version' flag on command line shows "3.4.0" instead of the version installed"
When using the CLI, querying for the version number using  the flag `--version` returns the following:
[code]
However, the correct version does get displayed within the text returned from the `--help` flag.

At the time of writing this, this issue appears within versions 3.1.0, 3.2.0, and the `master` branch

[2021-08-05 19:47] Eo300 commented on #217
On further inspection, looks like this flag is being set via the PROPKA argument parser, as we don't set the flag ourselves: https://github.com/Electrostatics/pdb2pqr/blob/7e28bb8ef048f2b86bb4229ecd52e1668808f747/pdb2pqr/main.py#L223-L224

As such, it's being set for us here: https://github.com/jensengroup/propka/blob/68007f065c5400566598509875344ed1c0f593c9/propka/lib.py#L245-L246
[code]

[2021-08-05 20:09] intendo opened #218 "HETATMs get renamed to ATOMs during processing"
During the processing, HETATMs get renamed to ATOMs in the resulting PQR file.

[2021-08-07 00:42] rwp33 commented on #214
I have also been having this issue, both with the web service and on the current version (installed). The error brings up a gap in the bimolecular structure; however, there is no problem with the PDB file (and this occurs for other structures of the same protein but different timepoints). Please see below.

INFO:Debumping biomolecule.
CRITICAL:Unable to debump biomolecule. Biomolecular structure i

[2021-08-07 14:10] sobolevnrm commented on #214
Hello @rwp33 and @elinaKari  --  Please provide the input PDB file so we can troubleshoot.  Thank you.

[2021-08-07 16:33] rwp33 commented on #214
Attached is the PDB file (in .txt format, .pdb is not supported as an attachment). As a note, the same PDB file works on an installed version 1.9.0.
[mpdhfr_wt+ndph+dhf-279k_1b_notr1.txt](https://github.com/Electrostatics/pdb2pqr/files/6949404/mpdhfr_wt%2Bndph%2Bdhf-279k_1b_notr1.txt)

[2021-08-09 03:12] sobolevnrm commented on #214
@rwp33 I'm not sure why, but PDB2PQR reports a gap in the backbone that it cannot fill for SER 4.  Here is the message that should have been displayed in the web server:
[code]
@Eo300 any ideas why the `CRITICAL` messages aren't shown by the web server?

@rwp33 any idea what might be going on around SER 4 for your structure?

Thanks

[2021-08-09 03:13] sobolevnrm commented on #218
@intendo can you please provide an example that reproduces this issue?

[2021-08-09 09:48] stefdoerr commented on #211
Great, I see there is a new version now :) I'll close the issue

[2021-08-11 02:06] sobolevnrm opened #219 "PDB2PQR not parsing altLoc correctly"
Files with altLoc fields are not processed correctly by PDB2PQR.  See attached for an example.
[5grd_test.pdb.txt](https://github.com/Electrostatics/pdb2pqr/files/6965411/5grd_test.pdb.txt)

[2021-08-13 00:03] Kabir12321 commented on #214
Hello there,

I am also facing the same issue right now. This problem was not encountered about a month ago with the same pdb file.

Kabir

[2021-08-13 02:56] sobolevnrm commented on #214
@Kabir12321 please provide an example so we can troubleshoot.

[2021-08-13 12:23] rwp33 commented on #214
As I mentioned, v. 1.9.0 works fine, so I do not think there is a problem with the PDB, and there is nothing special going on at that residue position.

[2021-08-18 19:51] poojari1 opened #220 "pdb2pqr - ValueError: invalid literal for int() with base 10: ''"
Hi All,

I am trying to process one of the pdb file with pdb2pqr webserver which i got from running MD simulations.  There are 3 chains in the pdb file, all are labelled differently and each chain is separated by TER line.  I get the below error message. Please can I know how to fix this:

########################################
Traceback (most recent call last):
  File "/usr/local/bin/pdb2pqr30"

[2021-08-18 20:04] intendo commented on #220
@poojari1 can you give us the job id and attach the PDB files so we can help troubleshoot?

[2021-08-18 20:18] poojari1 commented on #220
Hi,

Thanks for your reply.

My protein also had glycans attached which are removed from input pdb file.

My job id is: skne28q0vy

Attached is the pdb file.
[test.zip](https://github.com/Electrostatics/pdb2pqr/files/7009966/test.zip)

Kind Regards,
Chetan

[2021-08-18 20:45] poojari1 commented on #220
Dear Darren,

Update on the above error. After removing the header lines of the PDB file (REMARK, TITLE, CRYST1), the file was processed by the webserver. Here is the job id: ID: tngsdz29un

However, when i process the same PDB file (with header lines removed) locally with PDB2PQR v3.2.0 i get this error message:

command: pdb2pqr30 --with-ph=7.0 --drop-water --apbs-input protein_apbs.in --ff=CHAR

[2021-08-31 15:26] poonmk commented on #186
I would like to restart this issue because it appears to remain unresolved.  My attempts to run DNA from any source generates the error: `WARNING:Tetrahedral hydrogen reconstruction not available for nucleic acids.  Some hydrogens may be missing (if so, this is a bug).`  This followed by the aforementioned non-integer error.  For a simple example, try 1bna.  Thanks for your help in advance with ge

[2021-09-01 16:45] sobolevnrm commented on #186
Thank you very much for providing this example.  We are attempting to determine how difficult this will be to fix.

[2021-09-02 12:45] sobolevnrm commented on #214
@Eo300 or @intendo could you please investigate this?  Thank you.

[2021-09-03 00:16] Eo300 commented on #214
Running the four molecules, each process appears to have bailed mid-execution at mostly varying points, usually ending with a `CRITICAL` message.

With the exception of 6NUJ, looking at the associated `pdb2pqr-metrics.json` showed that they exited with exit code `0` despite bailing mid-execution.  Notably, these are for the molecules bailing with `CRITICAL...Giving up.`.  The snippet below is from

[2021-09-03 00:29] Eo300 commented on #214
6NUJ, on the other hand, had the exit code `1`, though the exception it threw was during the PROPKA phase of the process.  Here's the `self.valence_electrons` dictionary it's searching within:
[code]

Since `'A'` isn't within, I set a breakpoint based on that condition and noticed `atom.element` was set to `'A'` for the following two HETATMs in `6NUJ` (attached as [6NUJ.pdb.txt](https://github.com

[2021-09-03 00:30] jbardhan commented on #214
Hi Elvis,

For 6NUJ, it looks like HETATM 71 may be the trouble?
HETATM   71 AS   CAF A  65     -31.063  31.152 -12.122  1.00 28.05          AS

for 1ZLA, it looks like residue 1 on chain I (DA 1) is missing at least 1 atom, phosphate, and that could be responsible.

Same is true  for  5E5A

5MLU I haven't figured out yet.

Jay

[2021-09-03 00:31] jbardhan commented on #214
I haven't looked at the code yet.  Depending on the parser, it may be messed up due to the unusual columns the AS appears in.

[2021-09-03 01:40] intendo commented on #220
@sobolevnrm

This is also happening with job [nsdny0oyzn](https://server.poissonboltzmann.org/jobstatus?date=2021-08-17&jobid=nsdny0oyzn&jobtype=pdb2pqr)

[code]

[NIS_APO_071921-chainA.pdb.txt](https://github.com/Electrostatics/pdb2pqr/files/7102768/NIS_APO_071921-chainA.pdb.txt)

[2021-09-03 02:20] sobolevnrm commented on #214
Can we find a nucleic acid on which this works?

[2021-09-03 02:22] sobolevnrm commented on #214
Can we confirm that not all nucleic acids are broken in PDB2PQR?  As a counter-point to 1ZLA, can we find a working nucleic acid example?

[2021-09-03 02:25] sobolevnrm commented on #214
I agree with Jay's diagnosis:  it seems that the code is assuming 1-character atom names.  I think the solution here is to raise a more interpretable error.  I doubt we'll be adding arsenic to our supported elements any time soon.

[2021-09-06 15:43] sobolevnrm opened #221 "Failing to parse 5MLU"
A user alerted me to this issue via email.  PDB2PQR is unable to parse [5MLU](https://www.rcsb.org/structure/5MLU) despite the fact that this appears to be a high-resolution structure with most atoms in place.

There may be two problems PDB2PQR is encountering.  The first (non-fatal) issue seems to be related to incorrect parsing of the `ANISOU` fields in the PDB, resulting in PDB2PQR detecting mu

[2021-09-07 18:44] intendo commented on #221
In the first error, is that because the lines in 5mlu.pdb have pairs like:
[code]
Do the atom names have to be unique across `ATOM`, `ANISOU`, and other classes?
Also, can the Residue sequence number be negative?

I guess in general, I am asking: What are the options for fixing this pdb file?

[2021-09-07 18:46] intendo opened #222 "Fix "lazy" formatting in logging functions"
We were too eager to implement fstrings and went too far. The correct way to implement strings in logging functions is to use the lazy % formatting.

[2021-09-07 19:18] sobolevnrm commented on #221
The PDB file isn't broken, our code is.  ANISOU is additional information that accompanies the ATOM entry -- PDB2PQR doesn't use it but it looks like it is processing it anyway.  I'm not sure why?

[2021-09-07 19:19] sobolevnrm commented on #221
The sign on the residue number likely represents the "sense" of the DNA strand.  If a file is in the Protein DataBank and PDB2PQR fails to parse it, we can be ~99% sure it is a problem with our code rather than the PDB entry.

[2021-09-07 19:29] sobolevnrm commented on #222
I think that is mainly for performance reasons, right?  The f-strings get evaluated even if the logging level is below the basicConfig setting?  If we're not seeing major performance problems, then this should be pretty low priority...

[2021-09-07 19:32] intendo commented on #221
Sorry, I asked the question incorrectly. I should have asked: What is the correct action the code should take to handle the two lines where the ATOM and ANISOU have the same atom name and residue sequence number?

Since ATOM and ANISOU are both classes and parsed when the `@register_line_parser` decorator in used, there does not seem to be a code path for the ANISOU class instance to find the matc

[2021-09-07 19:36] sobolevnrm commented on #221
I think we should just ignore/skip the ANISOU records; however, I can't figure out why the code is using them at all.  Can you tell where in the code that record is being used (rather than just parsed)?  I looked quickly and was unable to find it.

[2021-09-07 20:44] sobolevnrm commented on #186
I've looked into this some more and it appears that PDB2PQR lacks the code to rebuild tetrahedral hydrogens for nucleic acids (that is the source of the warning message).

In particular,  the `Amino` class has this method:
https://github.com/Electrostatics/pdb2pqr/blob/9b71590bd845da0de8d540ee1ffeee714fb4a9e3/pdb2pqr/aa.py#L142
However, the `Nucleic` class does not:
https://github.com/Electrostati

[2021-09-07 22:53] intendo commented on #222
This is so low, I will only work on it while watching TV while holding a sleeping puppy :-)

[2021-09-08 01:36] intendo commented on #186
Is this something a grad student could research and mock up or do we have an algorithm for generating the atom positions?

[2021-09-08 02:29] sobolevnrm commented on #186
I think the templates already exist in the `dat` directory; we just need to generate a nucleic acid version of the amino acid code we already have.

[2021-09-09 13:27] poonmk commented on #186
Thanks for the update.  I hope you are able to make progress soon.

[2021-09-14 03:00] jbardhan commented on #220
Hi Chetan,

Thank you for your patience!  I'm taking a look at this now.  I appreciate why this is confusing, because I see the PDB is the output of some MD simulation and it looks like you've applied CHARMM's ACE patch to CYS 1.  As a result I'd expect it to have a proper integer charge.

Do you have a PSF file to go along with the PDB, or similar?

I'll keep looking at it in the mean time -- jus

[2021-09-14 03:08] jbardhan commented on #220
Hi,

I have reproduced these two separate issues:

1) the error in parsing the PDB header.  It appears that the two REMARK lines are what trigger the error.  When I delete them and them only, the code passes this point.

2) the error in actually creating the PQR.  If I remove the "--assign-only" flag, the script runs to completion.  This is confusing given that the PDB file comes from a simulation

[2021-09-14 18:12] Eo300 opened #223 "Process exits with code 0 when CRITICAL error is encountered"
As mentioned in https://github.com/Electrostatics/pdb2pqr/issues/214#issuecomment-912149465, PDB2PQR exits with code 0 even when critical error is encountered and the process bails.

Returning with an appropriate code `1` or exiting the process with `exit(1)` should rectify this.

[2021-09-15 12:05] sobolevnrm opened #224 "API docs are not being built"
There's plenty of documentation (e.g., https://github.com/Electrostatics/pdb2pqr/blob/master/pdb2pqr/aa.py) but ReadTheDocs isn't building it (https://pdb2pqr.readthedocs.io/en/latest/api/aa.html).  The documentation builds fine locally with Sphinx.

[2021-09-16 00:55] intendo commented on #224
I updated the Sphinx configuration on the `main` branch and increased the version to 3.2.1. The documents are now correctly built on ReadTheDocs.

[2021-09-16 00:55] #224 closed

[2021-09-17 17:41] zyang20 opened #225 "How to effectively process multiple .pdb files?"
Hi all, does anyone know how to do a batch processing of multiple .pdb files? the web server only allows one at a time.
Thanks

[2021-09-18 02:08] sobolevnrm commented on #225
I would recommend downloading the PB2PQR binary with `pip install pdb2pqr` and using that.

[2021-09-18 02:08] #225 closed

[2021-09-18 02:34] zyang20 commented on #225
I did that in Jupyer notebook. But I couldn't figure out how to launch the software. There are no clear instructions. Anyone could give me instructions step by step? Thanks a lot.

[2021-09-18 14:02] sobolevnrm commented on #225
Pip installs the command-line program `pdb2pqr30` that you can use to run PDB2PQR--that is the preferred mode of execution (not via a notebook).  However, pip also installs the `pdb2pqr` module from which you could import [`main_driver`](https://github.com/Electrostatics/pdb2pqr/blob/810e168740917c6a01e392444460c0c38fcce716/pdb2pqr/main.py#L730) and manually pass the desired argument namespace ret

[2021-09-20 20:00] #223 closed

[2021-09-23 05:57] swdoctor opened #228 "the shell command shouw"
Dear pdb2pqr  author :

the command line pdb2pqr30 show me give up, but in your website it works right.

My command is "pdb2pqr30 --titration-state-method=propka --with-ph=6.0 --ff=AMBER --ffout=AMBER ./T3_1u19_0_protein.pdb ./AAA.pqr"

The pdb documents in T3_1u19_0_protein.pdb.txt, you need move T3_1u19_0_protein.pdb.txt to T3_1u19_0_protein.pdb
[T3_1u19_0_protein.pdb.txt](https://github.com/Ele

[2021-09-23 14:15] jbardhan commented on #228
Hi,

Just to check, this is the error you get from the command line?

CRITICAL:Residue WAT 964 charge is non-integer: -0.417
CRITICAL:Giving up.

Thanks very much,
Jay

[2021-09-23 14:35] jbardhan commented on #228
It *looks* like the use of multiple hydrogens named "HW" in the water residue is the culprit.  The oxygen has a charge of -0.834 and the hydrogens each have +0.417.

To test this, I took out all the waters but 964, and changed the water hydrogen names to H1 and H2.  After doing this, pdb2pqr30 ran successfully using the command you gave.

I'm a bit confused because the atom name "HW" seems to be a

[2021-09-23 14:44] jbardhan commented on #228
I am unable to get this working on the website either ( https://server.poissonboltzmann.org/ ) .  Can you please share the jobID that succeeded, and ideally the date you submitted the job as well?

Thanks very much,
Jay

[2021-09-30 11:51] MR3300 opened #229 "PDB2PQR error with heme ligand"
Hi,

I keep running into the same error, both running pdb2pqr locally and through the server. I am trying to calculate electrostatic surfaces for a heme containing protein.

I extract and generate a .mol2 file for the heme ligand (HEC) using PRODRG, removing the iron atom and adding hydrogens beforehand and include this along with the .pdb file for the whole protein (+ HEC) when submitting the job

[2021-09-30 12:47] jbardhan commented on #229
Hi M,

Could you please attach the input file you're using?  (You'll need to change the file extension to .txt)

Thanks very much,
Jay

[2021-09-30 15:02] kva0987 opened #230 "pdd2pqr ligand problem"
Hi,

I encountered some issues while trying to run pdb2pqr for APBS.

1. pdb2pqr cannot take am bond type from mol.2 file any more. I believe it was able to do that before.
2. WARNING:PDB2PQR could not identify the following residues and residue numbers as returned by PROPKA or PDB2PKA
WARNING:Can't find HETATM 627 1 N1 in MOL2 file
It says it cannot find TETATM in mol2 file.
So I used the same se

[2021-09-30 15:11] kva0987 commented on #230
Job ID is zfh7fqlmwo_20210930

[2021-09-30 15:12] jbardhan commented on #230
Hello,

Thank you for alerting us to this, and for submitting the job ID!

Do you recall (even if only roughly) when you remember pdb2pqr being able to take the bond type from a mol2 file?

Thanks very much,
Jay

[2021-09-30 15:49] MR3300 commented on #229
Hi Jay,

Here are the input files are the resulting error files. I've tried lots of combinations of renaming residues in the pdb and mol2 but they pretty much all give the same error. This is a single heme protein and once I've resolved the issue I'm hoping to expand this to multiheme cytochromes (one step at a time).

I have no doubt this is down to user-error but it you're able to point me in th

[2021-09-30 17:27] kva0987 commented on #230
I had ran pdb2pqr this February and May. I did not recognize this kind of error then.

[2021-09-30 18:29] jbardhan commented on #230
Thank you!  That's helpful.

Jay

[2021-09-30 18:30] jbardhan commented on #229
Hello, thank you for sharing these!

I'll try as well.  We have seen a few "non-integer" errors over the last few weeks -- it may not be just user error.

Thanks very much,
Jay

[2021-09-30 23:33] #217 closed

[2021-10-07 17:43] rkretsch opened #233 "Integer residue charge check incompatible with terminal NA residues"
In _most_ (maybe all) force fields the terminal residues of nucleic acids have partial charges, but the 5' and 3' termini add to -1. (eg in AMBER for RNA that charges are -0.3081, -0.6919). In main.py line 689 there is a check that each residue has an integer charge which NA should all fail. One fix I implemented is to change this check to checking that the sum of all residue charges is an integer

[2021-10-25 15:10] mishaguy opened #236 "Error running pdb2pqr with PyMol"
We're using pdb2pqr with PyMol. We install using pip and version is 3.2.0.
Seems it is the same version as on the web service of pdb2pqr.
When we run to prepare molecule via APBS plugin, we're getting error messages for many RNA molecules when we specify standard pdb2pqr method.
I tried to mimic options from pdb2pqr web service and got the same error.
Attached is the screenshot and below are detai

[2021-11-02 10:14] stefdoerr opened #240 "Wrong multi-line error strings"
https://github.com/Electrostatics/pdb2pqr/blob/master/pdb2pqr/aa.py#L569-L573
Hi, I just noticed that I'm not getting the full error message here
You can fix it by putting `()` around the string.

[2021-11-02 16:38] #240 closed

[2021-11-03 04:51] chemsh opened #242 "Swapped HD21/HD22 assignment for ASN"
Dear PDB2PQR authors,

we find ASN's HD21/HD22 atom labels are swapped when PDB2PQR guesses the missing hydrogens' positions. According to the original CHARMM forcefield topology, for example top_all36_prot.rtf, HD21 is cis to OD1 while HD22 trans. Please see attached an example of P450 (_pdb2pqr.pdb). In the resulting structure _pdb2pqr.out.pdb all ASN HD21 atoms are trans and HD22 have become ci

[2021-11-03 05:00] chemsh commented on #242
[p450_pqd2pqr.tar.gz](https://github.com/Electrostatics/pdb2pqr/files/7465407/p450_pqd2pqr.tar.gz)

[2021-11-03 14:35] stefdoerr opened #243 "Extending PARSE and AMBER FF for non-standard amino-acids"
Hi, I am working on extending the forcefields in pdb2pqr for non-standard amino-acids. I read my structure in with PARSE and output AMBER naming. I am not using pdb2pqr for creating PQR files, I just want to protonate and optimize my protein and standardize the atom names.

For example [this protein](https://www.rcsb.org/structure/1A4W) contains a [TYS](https://www.rcsb.org/ligand/TYS) amino-acid.

[2021-11-03 14:59] stefdoerr commented on #243
Hm on my first attempt I got the following error:
[code]
Does that mean I'd need to add a new class to `aa.py` for each AA I am adding to the forcefield? That makes it a bit hard to extend, unless I find some way of dynamically adding classes to the pdb2pqr.aa module?

Just to test, I added it like this and it worked
[code]

Seems to protonate the residue mostly fine, here you can see TYS together

[2021-11-03 18:32] sobolevnrm commented on #243
You are correct; you current have to add a new `TYS` class to make this work.  We're trying to refactor the code to use CIF containers as the base object which should make this easier.  However, that work is ongoing and we don't have an ETA right now.  @intendo

[2021-11-03 18:32] #243 closed

[2021-11-08 02:11] sobolevnrm commented on #242
Hi @chemsh -- thank you for reporting this.  We will investigate.

[2021-11-08 10:00] stefdoerr commented on #211
Hi, sorry to bother about this. Do you have an ETA for the next release of PDB2PQR on conda-forge? I'd like to use the latest fixes like the RA->RU residue for my RNAs and the protonation disabling.
Thanks!

[2021-11-08 13:50] sobolevnrm commented on #211
I can try to do that later this week or weekend, if @intendo agrees.  @tsenapathi can you help again with the conda version after I push the release?  Thanks, all.

[2021-11-09 10:56] chemsh commented on #242
@sobolevnrm Brilliant! Thank you very much.

[2021-11-10 02:24] shaoqx opened #245 "[BugReport] Titration state missing for N-ter/C-ter HIS"
For a system that has HIS on N-ter or C-ter, PDB2PQR won't change their name to the corresponding HID/HIE.
After several tests I found:
- propka3 do not give pKa of N-ter HIS but do have that for C-ter HIS [related issue](https://github.com/jensengroup/propka/issues/137#issue-1049332864)
- PDB2PQR will still optimize the H-bond network and give a protonation state (delta-H or epsilon-H) of N/C-ter

[2021-11-14 02:38] sobolevnrm commented on #211
- [ ] Update releases file with changes
- [ ] Delete old change log
- [ ] Update version number
- [ ] Run tests

[2021-11-14 03:59] sobolevnrm commented on #211
The GitHub/PyPI part of this is done.  @tsenapathi are you able to generate the conda release?

[2021-11-14 04:04] sobolevnrm opened #247 "Generate conda release for PDB2PQR 3.3.1"
The [GitHub](https://github.com/Electrostatics/pdb2pqr/releases/tag/v3.3.1) and [PyPI](https://pypi.org/project/pdb2pqr/) parts of this are done.  @tsenapathi are you able to generate the conda release?

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/pdb2pqr/issues/211#issuecomment-968201545_

[2021-11-14 04:05] sobolevnrm commented on #211
@Eo300 and @intendo -- can we get 3.3.1 integrated into the webserver?  Thanks.

[2021-11-14 04:05] sobolevnrm opened #248 "Add PDB2PQR 3.3.1 to web server"
@Eo300 and @intendo -- can we get 3.3.1 integrated into the webserver?  Thanks.

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/pdb2pqr/issues/211#issuecomment-968202095_

[2021-11-14 04:06] #211 closed

[2021-11-14 06:21] tsenapathi commented on #211
Conda release is done!

[2021-11-14 06:43] intendo commented on #211
Thank you for the Conda release? Do you happen to have the process documented?

[2021-11-14 07:25] tsenapathi commented on #211
This process is automated, whenever @sobolevnrm pushed a new version tp PyPI, it automatically creates the PR for the conda-forge. Then we just review and do if there are any changes that need to be done. See https://github.com/conda-forge/pdb2pqr-feedstock for further details.

[2021-11-14 15:01] sobolevnrm commented on #211
Thank you, @tsenapathi !

[2021-11-14 15:03] sobolevnrm commented on #247
https://github.com/conda-forge/pdb2pqr-feedstock/pull/3#event-5613891944

[2021-11-14 15:03] #247 closed

[2021-11-14 19:50] intendo commented on #248
We will work with @mmacduff to update the documentation and get this deployed.

[2021-11-15 09:32] stefdoerr opened #249 "Fixing rng seed for pdb2pqr tests"
Hi, I'm having some issues with my tests not passing on CI. The issue seems to be water hydrogens being placed in a non-deterministic manner. If I run them on one machine I get the first image, on another machine the second. The conda env is identical on both machines.

I tried setting both `np.random.seed` and `python random.seed` but they don't seem to affect the results.
Is there some way to ma

[2021-11-15 17:56] intendo commented on #249
@stefdoerr sorry for the problem and thanks for letting us know about it.
Could this be an issue with PyMol (or the visualization software) interpreting the data?
Can you isolate the problem by doing a diff on the output PQR files between the two other systems?

[2021-11-15 23:23] intendo commented on #248
This was fixed via https://github.com/Electrostatics/apbs-aws/pull/139
PDB2PQR was updated to 3.3.1 on dev, test, and production deployments on AWS.

[2021-11-15 23:23] #248 closed

[2021-11-16 03:30] sobolevnrm commented on #249
I suspect the non-deterministic behavior comes from https://github.com/Electrostatics/pdb2pqr/blob/master/pdb2pqr/debump.py or related code.  I'm unaware of any stochastic functions in these routines but the processes are very nonlinear.  Do you have some specific examples we can use to debug?

[2021-11-16 15:41] stefdoerr commented on #249
Yes sure. Here is the input file and the outputs I get on two different machines:
[3PTB.zip](https://github.com/Electrostatics/pdb2pqr/files/7547754/3PTB.zip)

This is the command I ran:
[code]
In this example the change is not as big as in the above example but still you can see water resid 583 and specifically it's H2 hydrogen move in the two structures
![image](https://user-images.githubusercon

[2021-11-16 18:35] stefdoerr commented on #249
I'm just a bit curious as to why it only seems to happen to waters. I have not seen similar issues on hydrogens added on protein residues. It's probably a different code path though. Beyond that I guess I should just remove the water hydrogens in my tests.

[2021-11-17 00:06] sobolevnrm commented on #249
The water hydrogen positions are significantly less constrained than for protein hydrogens.  That is likely part/all of the reason.

[2021-11-17 08:00] stefdoerr commented on #249
ok thanks!

[2021-11-17 08:00] #249 closed

[2021-11-19 16:36] RayHackett opened #250 "pdb files with >999 residues are not processed correctly"
For proteins with more than 1000 pdb2pqr gives a warning for each titratable residue beyond residue number 1000:
pdb2pqr.stderr.txt contains the following lines:
WARNING:PDB2PQR could not identify the following residues and residue numbers as returned by PROPKA or PDB2PKA
WARNING:             ASP1006 A
[...]

I suspect this is due to the fact that in .pdb file format once the residue number reache

[2021-11-21 00:49] sobolevnrm commented on #250
This issue can be reproduced on the command line with:
[code]
where 1000-residues.pdb is provided in
[1000-residues.zip](https://github.com/Electrostatics/pdb2pqr/files/7575584/1000-residues.zip).

[2021-11-21 02:27] sobolevnrm commented on #250
I think this problem originates with [https://github.com/jensengroup/propka](PROPKA) incorrectly parsing PDBs with more than 999 residues.

However, PDB2PQR is also not double-checking the results from PROPKA to avoid this error.

[2021-11-21 03:02] sobolevnrm commented on #250
Actually, the problem is **not** with PROPKA.  The problem is how PDB2PQR assembles the pKa dictionary in [main.py:nontrivial](https://github.com/Electrostatics/pdb2pqr/blob/6250bcf28fde4913b8fdf9d13cedd1a38ed7499c/pdb2pqr/main.py#L583).

[2021-11-21 22:43] sobolevnrm commented on #192
We have upgraded the webserver.  Do you have a structure we can use to test if the problem persists after the upgrade?

[2021-11-21 22:47] sobolevnrm commented on #236
@mishaguy was this fixed in the recent PDB2PQR releases?

[2021-11-21 23:07] sobolevnrm commented on #228
There appears to be something wrong with the water molecules in this file.  When I delete them, the problem goes away.

[2021-11-21 23:11] mishaguy commented on #236
Hi Nathan,

Thanks for thinking about me.

First of all, it is not on the webserver where this error occurs. It is rather when I use pdb2pqr from PyMol plugin.

I have updated now to your 3.2.2 and no, it is still producing error with default pd2pqr method.

It is now actually producing more complicated error log than 3.2.0.
I have attached it here.

The structure producing error is for instance 4

[2021-11-21 23:12] sobolevnrm commented on #228
And the problem appears to be with the water hydrogens -- when I delete the hydrogens the run also completes without problem.

[2021-11-21 23:13] mishaguy commented on #192
Hi Nathan,

Thanks for thinking about me.

First of all, it is not on the webserver where this error occurs. It is rather when I use pdb2pqr from PyMol plugin.

I have updated now to your 3.2.2 and no, it is still producing error with default pd2pqr method.

It is now actually producing more complicated error log than 3.2.0.
I have attached it here.

The structure producing error is for instance 4

[2021-11-22 01:39] sobolevnrm commented on #186
@poonmk Can you please confirm that this issue is fixed in the most recent versions of PDB2PQR?

[2021-11-22 15:52] RayHackett commented on #250
After testing with my some .pbd files with more than 999 residues the problem still seems to persist. Both using the webserver and using a local version of the newest commit still bring up the same warnings.
WARNING:biomolecule.py:909:apply_pka_values:PDB2PQR could not identify the following residues and residue numbers as returned by PROPKA or PDB2PKA
WARNING:biomolecule.py:912:apply_pka_values:

[2021-11-22 15:53] sobolevnrm commented on #250
@RayHackett - the web server has not been upgraded yet.  Can you test this using the command-line tool?

@intendo - can you please update the web server?

[2021-11-22 15:56] RayHackett commented on #250
yes it is reproducible with the newest local version too. (I checked - and yes my version does have the applied changes to biomolecules.py and main.py

the command and file you supplied above reporduce the issue aswell
pdb2pqr30 --with-ph 7.0 --keep-chain --titration-state-method propka 1000-residues.pdb foo.pqr

[2021-11-22 15:59] sobolevnrm commented on #250
I won't be able to look at this until later today or during the holidays.  Sorry.

[2021-11-22 16:03] RayHackett commented on #250
No worries. Thank you for helping!

[2021-11-22 16:42] intendo commented on #250
@sobolevnrm should we wait to upgrade the web server(s) until the underlying problem is fixed?

[2021-11-22 18:03] RayHackett commented on #250
I'm sorry that was my mistake! I'm terribly sorry, you have indeed fixed the error.
I just discovered that depending on which conda environment I was in I was unknowingly using an old version of pdb2pqr (3.2.0) which had been installed as part of a different program.
When finally referencing to the correct and newest installation of pdb2pqr the warnings disappeared.
I think it should be fine to up

[2021-11-22 18:03] #250 closed

[2021-11-22 18:37] intendo commented on #250
@sobolevnrm I updated the test, dev, and prod web servers to use pdb2pqr 3.3.2.

[2021-11-22 18:52] sobolevnrm commented on #250
I truly thought I was losing my mind... and feel much much better now.  Thank you, @RayHackett !

[2021-11-22 18:52] sobolevnrm commented on #250
Thank you, @intendo !

[2021-11-23 17:21] poonmk commented on #186
Thanks for the update.  I did a test with 1bna.  PDB2PQR no longer aborts now, though it still throws a tsunami of `WARNING:Tetrahedral hydrogen reconstruction not available for nucleic acids. Some hydrogens may be missing (if so, this is a bug).`  The input for APBS it generates runs, and yields results that are reasonable (by casual inspection).  Should we be concerned about the warnings?

[2021-11-24 02:55] sobolevnrm commented on #186
I think you can ignore the warnings for now.  I'll investigate in a separate issue.  Thanks!

[2021-11-24 02:55] #186 closed

[2021-11-24 02:56] sobolevnrm opened #253 "Check and possibly disable "tetrahedral hydrogen warning messages"
Thanks for the update.  I did a test with 1bna.  PDB2PQR no longer aborts now, though it still throws a tsunami of `WARNING:Tetrahedral hydrogen reconstruction not available for nucleic acids. Some hydrogens may be missing (if so, this is a bug).`  The generated input for APBS runs, and yields results that are reasonable (by casual inspection).  Should we be concerned about the warnings?

_Origina

[2021-11-24 03:38] sobolevnrm commented on #192
Hi Misha --

I don't know much about PyMOL but am wondering if @speleo3 could suggest someone to help.

What version of Python does your PyMOL use?

Thanks

[2021-11-24 03:42] sobolevnrm commented on #236
Hi Misha --

It looks like we might have duplicate issues here.  Can you please close the one that's least relevant?

Regardless, I'm not very familiar with PyMOL and it is difficult for me to troubleshoot this.  I wonder if @speleo3 might have suggestions on who can help?

Do you know what version of Python PyMOL is using?

Thank you,

Nathan

[2021-11-24 04:43] mishaguy commented on #236
Hi Nathan,
The other issue is not mine, I can't close it. You can stop e-mailing there.
I observe these problems in both Python 3.6 and Python 3.9.

One thing I'd like to tell you. Because of this error, we use different method - formal_charge_and_vdw.
With your new 3.2.2 the results in apbs are ore consistent with what we obtain on Mac where the old pdb2pqr version is still installed. See attache

[2021-11-24 23:33] intendo opened #254 "psize does not take into account HETATMs correctly"
psize does not take into account HETATMs correctly when calculating grid lengths

[2021-11-25 02:57] sobolevnrm commented on #192
This PyMOL issue appears to be a duplicate of #236

[2021-11-25 03:14] sobolevnrm commented on #236
@mishaguy that looks like a very strange surface potential for a protein... have you visualized it using the web server?

[2021-11-25 03:15] #254 closed

[2021-11-25 04:55] mishaguy commented on #236
no, I have not used it with web server.
I tried it now and got errors with pdb2pqr.
can you check it on your side.
4e8m

[2021-11-25 15:55] sobolevnrm commented on #236
Oh, I lost the thread here that this is a nucleic acid issue.  I'm going to create a new issue that's a bit more specific to replace this one.

[2021-11-25 15:55] #236 closed

[2021-11-25 15:57] sobolevnrm opened #256 "PDB2PQR fails on files with only nucleic acid resides"
On structures like [4E8M](https://www.rcsb.org/structure/4E8M), PDB2PQR fails with messages like:
[code]

Reported by @mishaguy.

[2021-11-28 15:51] stefdoerr opened #257 "Terminal histidine protonation issues"
Seems like pdb2pqr has issues with terminal histidines.
While it does protonate the histidine correctly removing the HE2 atom it does not rename it to HID. Instead it keeps it as HIS which causes issues in `teLeap` since AMBER does not like `HIS` residues with a `HD1` atom. The rest of non-terminal histidines are correctly renamed.

[IL2BG_wt.zip](https://github.com/Electrostatics/pdb2pqr/files/76

[2021-11-28 15:56] sobolevnrm commented on #257
Hi @stefdoerr --

Is this the same issue as #245 ?  Does the example there reproduce the error for you?

Thank you,

Nathan

[2021-11-28 15:57] stefdoerr commented on #257
Oh yes indeed it's a duplicate. I'll close it

[2021-11-28 15:57] #257 closed

[2021-11-29 20:31] marcushock commented on #192
Sorry about the delay responding, I am still having issues however. I've attached the molecule I'm having issues with in the original post. ([myozin.zip](https://github.com/Electrostatics/pdb2pqr/files/6561849/myosin.zip)) Interestingly, previous versions (such as from PyMol) do not have any issues.

[2021-11-30 17:07] stefdoerr commented on #245
I can confirm that the issue is not only present for histidines but also lysines.
Comparing the outputs of an older version you can see that the LYS was indeed a LYS (left with HZ3 atom)
![image](https://user-images.githubusercontent.com/7935362/144093567-86808312-c066-4502-baa3-ed2fb23fbaff.png)
The newer version removes the HZ3 but does not rename to LYN as it should.
`teLeap` then proceeds to a

[2021-12-01 10:15] stefdoerr commented on #245
I investigated a bit more the issue. The real issue is that `propka` predicts a 3.4 pKa for the terminal LYS. Which according to the chemists sitting next to me is very wrong :smile: . It is probably reporting the pKa of the c-terminal oxygens instead of the pKa of the lysine NZ nitrogen.

What happens then is that `pdb2pqr` deprotonates the lysine (removes the HZ3 atom) and renames it to `CLYN`.

[2021-12-01 10:38] stefdoerr commented on #245
Actually no, the issue is in how pdb2pqr parses propka data. propka reports pka per group:
[code]

It reports two pKas for the terminal LYS, one for the sidechain and one for the COO group.
The way that pdb2pqr parses that data, it overwrites the sidechain pKa with the COO pKa
[code]
If you tell it to ignore the COO groups it works fine
[code]

I'm trying to think up of a more general solution tho

[2021-12-01 18:46] shaoqx commented on #245
Ohh I see. This is why propka only have the N-ter pKa missing but pdb2pqr error naming both N-ter and C-ter. Cool!

[2021-12-03 02:41] sobolevnrm commented on #245
Great find, @stefdoerr -- thank you!

[2021-12-18 08:18] speleo3 commented on #236
Issue moved to https://github.com/Electrostatics/pdb2pqr/issues/256

[2021-12-18 08:36] speleo3 commented on #192
I can reproduce this without PyMOL, using the latest PDB2PQR (`v3.4.0`, `cc31e1351bcd`).
[code]

Residues 810-812 are missing. PRO 813 is missing the N-terminal nitrogen, it's capped with HA (hydrogen) instead.

No such error with PDB2PQR 2.1.2

[2021-12-18 10:09] speleo3 commented on #192
There is a `DA` residue with residue number 812 (right before PRO 813), but it's not an amino acid and it's not connected to PRO 813. Changing its chain identifier from `A` to `B` fixes the issue for me.

[2021-12-18 15:40] sobolevnrm commented on #192
Thank you!

[2021-12-18 23:23] mishaguy commented on #192
Hi, thanks for this.

One note, I did understand from the beginning that I could fix this issue in structure myself.
However, I can’t advise my users to do this. They are just scientists and not away what is going on in background.

It might be PDB issue. However, as you mentioned it does not occur with previous pdb2pqr.

Best,
Misha

Mikhael Guy
Research Scientist
Science Research Software Core
Y

[2021-12-27 07:02] #242 closed

[2021-12-28 20:15] sobolevnrm opened #262 "Should be raising errors rather than returning 1"
https://github.com/Electrostatics/pdb2pqr/blob/cc356486ffd27332b66b36f3e9b857e6589f89b9/pdb2pqr/main.py#L793

This return statement means that some of our tests pass when they should fail:

* tests/short_basic_test.py::test_basic_cif[3U7T]
* tests/short_basic_test.py::test_broken_backbone[1EJG]

[2021-12-28 23:41] #262 closed

[2021-12-30 03:36] sobolevnrm commented on #256
This problem appears to be specific to RNA-only PDB entries.  For example, [1NAJ](https://www.rcsb.org/structure/1NAJ) seems to work in the test created in af3caec.

The source of the issue is an inconsistency between [`NA.xml`](https://github.com/Electrostatics/pdb2pqr/blob/master/pdb2pqr/dat/NA.xml) and [PDB nomenclature for nucleic acids](https://pdb101.rcsb.org/learn/guide-to-understanding-pdb

[2021-12-30 10:15] mishaguy commented on #256
the previous versions of pdb2pqr handled these structures without error.
I still have it attached to my PyMol on Mac, I get it from Homebrew, and it works without error

[2021-12-30 17:16] sobolevnrm commented on #256
The `ANISOU` records in [4E8M](https://www.rcsb.org/experimental/4E8M) appear to be part of the problem.  After fixing the problem with residue naming (PDB2PQR was expecting `RA`, etc. and the PDB file had `A`, etc.), the RNA structure [5V0O](https://www.rcsb.org/structure/5V0O) without `ANISOU` records works but 4E8M does not.

[2021-12-30 17:20] sobolevnrm commented on #256
Err... that's not correct:  grepping the `ANISOU` records out of 4E8M still gives a file that generates errors in my "fixed" version of PDB2PQR.

[2021-12-30 17:27] sobolevnrm commented on #256
It looks like the problems I'm seeing with 4E8M now are due to PDB2PQR incorrectly reconstructing missing atoms:
[code]

[2021-12-30 17:54] sobolevnrm opened #264 "Non-integer charge calculated incorrectly"
See https://github.com/Electrostatics/pdb2pqr/commit/b01ea7725f323ba0848f5527cc7bc30148c7c04f#commitcomment-62700592

Code uses `int` instead of `round`.

[2021-12-30 19:53] sobolevnrm opened #267 "PDB2PQR incorrectly reconstructing missing atoms in 4E8M"
It looks like the problems I'm seeing with 4E8M now are due to PDB2PQR incorrectly reconstructing missing atoms:
[code]

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/pdb2pqr/issues/256#issuecomment-1003118601_

[2021-12-30 19:53] sobolevnrm commented on #256
This appears to be a separate problem so I've created a new issue (#267) for it.

[2021-12-30 20:32] #253 closed

[2021-12-30 20:33] #264 closed

[2021-12-30 20:37] #256 closed

[2021-12-30 21:21] sobolevnrm commented on #228
I've confirmed what @jbardhan mentioned above:  the duplicate water hydrogen names are causing the problem.  The attached version of the PDB works with PDB2PQR:  [T3_1u19_0_protein-fixed.pdb.txt](https://github.com/Electrostatics/pdb2pqr/files/7794634/T3_1u19_0_protein-fixed.pdb.txt)

[2021-12-30 21:21] #228 closed

[2021-12-30 22:22] #267 closed

[2021-12-31 01:08] #245 closed

[2021-12-31 01:10] sobolevnrm commented on #230
@kva0987 Can you please provide the files you used with this calculation?  I'm going to close the issue until you post them.  Please feel free to reopen afterward.  Thanks.

[2021-12-31 01:10] #230 closed

[2021-12-31 01:30] sobolevnrm commented on #229
The heme residue is the source of the non-integer charge.  However, since the heme should be covalently bonded to the protein, there should also be modifications to the protein structure that aren't considered by PDB2PQR.  In general, PDB2PQR is not able to handle covalently modified biomolecules.  Sorry, but I do not think this is fixable.

[2021-12-31 01:30] #229 closed

[2021-12-31 01:44] sobolevnrm commented on #221
The new version of PDB2PQR (currently in master, release coming soon) fixes the problem with the nucleic acid.

[2021-12-31 01:44] #221 closed

[2021-12-31 01:49] sobolevnrm commented on #220
This works in the current version of PDB2PQR without the `--assign-only` option.  The failure of the code with the option is expected because PDB2PQR performs several modifications to the file (appear to be mainly renaming atoms) that are necessary to correctly assign charges and yield a structure with an integer net charge.

[2021-12-31 01:49] #220 closed

[2021-12-31 01:58] sobolevnrm commented on #219
Several changes have been made to the code and the current master (f23c0e6) no longer has this problem.

[2021-12-31 01:58] #219 closed

[2021-12-31 02:07] sobolevnrm commented on #218
This appears to be fixed when testing against [1FAS](https://www.rcsb.org/structure/1FAS) with the current commit (f23c0e6) of the master branch.

[2021-12-31 02:07] #218 closed

[2021-12-31 02:39] sobolevnrm commented on #214
All of these PDB entries now work with the current (f23c0e6) version of the master branch.

[2021-12-31 02:42] sobolevnrm commented on #214
The original problem persists with this file:
[code]

[2021-12-31 02:55] sobolevnrm commented on #214
This problem occurs because `HG1` is a nonstandard name for the serine hydroxyl hydrogen.  However, it is not an invalid name so I will add it to `AA.xml` for PDB2PQR which seems to fix the problem.

[2021-12-31 03:10] sobolevnrm commented on #205
I was able to successfully run [7D1T](https://www.rcsb.org/structure/7D1T) with the latest commit (f23c0e6) of PDB2PQR.

[2021-12-31 03:10] #205 closed

[2021-12-31 03:10] sobolevnrm commented on #203
I'm sorry but we are unlikely to implement this feature.  There are too many other priorities currently competing for our developers' time.

[2021-12-31 03:10] #203 closed

[2021-12-31 03:16] sobolevnrm commented on #204
This is no longer a problem as of commit 454fec9 (or earlier).

[2021-12-31 03:16] #204 closed

[2021-12-31 03:18] sobolevnrm commented on #193
@stefdoerr claims this has been fixed and I can't reproduce the original error so I am closing the issue.

[2021-12-31 03:18] #193 closed

[2021-12-31 03:21] sobolevnrm commented on #192
The issue with 4E8M was just fixed in https://github.com/Electrostatics/pdb2pqr/commit/6673aabb1d424594785d5d5b36fa3cc69aec4db5.

[2021-12-31 03:21] #192 closed

[2021-12-31 03:26] sobolevnrm commented on #191
I don't understand what's going on with the [provided MOL2 file](https://github.com/Electrostatics/pdb2pqr/files/6576873/frame_0.mol2.txt):  it contains several atoms/groups that should be represented as amino acids in a PDB file instead.  Since this appears to be an invalid ligand file, I am closing the issue until the user can provide clarification.

[2021-12-31 03:26] #191 closed

[2021-12-31 03:46] sobolevnrm commented on #181
I'm going to remove the command-line version of this code from PDB2PQR in lieu of the version in APBS.

[2021-12-31 03:57] sobolevnrm commented on #178
The latest version of PDB2PQR (2a7a740) gave the following error with these input files:
[code]
However, the `am` (amide) bond is a legitimate bond type in MOL2 (see http://chemyang.ccnu.edu.cn/ccb/server/AIMMS/mol2.pdf). Therefore, something in PDB2PQR is either undocumented or broken.

[2021-12-31 04:06] sobolevnrm commented on #178
Unfortunately, the `am` bond does not look like something we will be able to support in the near future.  However, we will improve the PDB2PQR output to make this gap clearer to users.

[2021-12-31 04:26] #214 closed

[2021-12-31 04:26] sobolevnrm commented on #172
Unfortunately, it's been ~1 year and it seems unlikely that we will be able to reinstate this general functionality.

[2021-12-31 04:26] #172 closed

[2021-12-31 04:31] #181 closed

[2021-12-31 04:31] sobolevnrm commented on #166
The advice [here](https://stackoverflow.com/questions/26737222/how-to-make-pypi-description-markdown-work) seems reasonable.  I need to find a better way to test without creating trivial releases to test.

[2021-12-31 04:33] #178 closed

[2021-12-31 04:33] sobolevnrm commented on #166
Looks like I can use https://test.pypi.org/ and the instructions [here](https://packaging.python.org/en/latest/tutorials/packaging-projects/) to test.

[2021-12-31 05:01] sobolevnrm commented on #121
This was not fixed but the error messages were made more manageable in or before commit 75a0425.

[2021-12-31 05:01] #121 closed

[2021-12-31 05:02] sobolevnrm commented on #108
This is probably not necessary with the newer versions of PDB2PQR that are much more platform-independent.

[2021-12-31 05:02] #108 closed

[2021-12-31 05:04] sobolevnrm commented on #3
This was improved (if not fixed) in #273.

[2021-12-31 05:04] #3 closed

[2021-12-31 05:05] sobolevnrm commented on #8
Probably won't fix.

[2021-12-31 05:05] #8 closed

[2021-12-31 05:06] sobolevnrm commented on #35
The `-R` option is no longer supported so I am closing this issue.

[2021-12-31 05:06] #35 closed

[2021-12-31 05:07] sobolevnrm commented on #41
We have crude support for this in the current code so I am closing this issue.

[2021-12-31 05:07] #41 closed

[2021-12-31 05:07] sobolevnrm commented on #42
This is not currently a priority.

[2021-12-31 05:07] #42 closed

[2021-12-31 05:08] sobolevnrm commented on #40
The current behavior seems sufficient.

[2021-12-31 05:08] #40 closed

[2021-12-31 05:09] sobolevnrm commented on #39
PDB2PKA is not currently supported in PDB2PQR (for many of the reasons mentioned above).

[2021-12-31 05:09] #39 closed

[2021-12-31 06:48] #166 closed

[2021-12-31 14:41] mishaguy commented on #192
Hi Nathan,

I go to web service and run 4e8m with default parameters.
It still has errors. The log says it is unable to proceed and does not let to go to APBS step.
I see it is running v. 3.4.0.
pip actually gives me now 3.4.1 but I have the same issue.
What version are you using to get all this running properly and where to get it?

Thans,
Misha

Mikhael Guy
Research Scientist
Science Research So

[2021-12-31 14:55] sobolevnrm commented on #192
You'll have to pull it from the master branch in Git until I get a new release out (hopefully today).

[2021-12-31 16:23] sobolevnrm commented on #13
Fixed in #269.

[2021-12-31 16:23] #13 closed

[2021-12-31 16:25] sobolevnrm commented on #37
This was fixed a long time ago.

[2021-12-31 16:25] #37 closed

[2021-12-31 16:29] #9 closed

[2021-12-31 16:38] sobolevnrm commented on #91
This has been overcome by events:  I deleted PDB2PKA a while ago.

[2021-12-31 16:38] #91 closed

[2021-12-31 18:49] sobolevnrm opened #277 "Investigate broken tests"
In testing the long list of molecules mentioned in #36, three entries failed:

- [x] [1EJG](https://www.rcsb.org/structure/1EJG)
- [x] [4MGP](https://www.rcsb.org/structure/4MGP)
- [x] [2V75](https://www.rcsb.org/structure/2V75)

These structures should be tested more thoroughly to understand why PDB2PQR is failing.

[2021-12-31 19:07] #38 closed

[2021-12-31 19:20] sobolevnrm opened #278 "Need testing of various command-line options"
- [ ] Overall testing of command line options (make sure they work)
- [ ] Testing of `--userff`
- [ ] Testing of `--usernames`
- [ ] Testing of `--apbs-input`

[2021-12-31 19:36] sobolevnrm commented on #26
This is already happening in the refactoring that @intendo and @Eo300 are doing.

[2021-12-31 19:36] #26 closed

[2021-12-31 19:42] sobolevnrm commented on #25
This problem appears to be fixed in the current version (305a6ad) of PDB2PQR.

[2021-12-31 19:42] #25 closed

[2021-12-31 20:40] sobolevnrm commented on #23
This is not straightforward to fix.  For now, I will just add more information to the documentation indicating that only one ligand can be used in a calculations.

[2021-12-31 20:44] #36 closed

[2021-12-31 21:32] #23 closed

[2021-12-31 21:43] sobolevnrm commented on #21
Fixed in #279

[2021-12-31 21:43] #21 closed

[2021-12-31 21:47] sobolevnrm commented on #6
This issue was resolved a while ago (can't find specific commit number...).

[2021-12-31 21:47] #6 closed

[2021-12-31 21:49] sobolevnrm commented on #14
This is obsolete until we re-enable PDBPKA #50 which will happen after PDB2PQR is refactored.

[2021-12-31 21:49] #14 closed

[2022-01-01 00:53] sobolevnrm commented on #16
The `psize` command-line tool has been removed.  Should we do the same for inputgen?  I don't think there are many use cases for it.

[2022-01-01 00:54] #59 closed

[2022-01-01 03:01] sobolevnrm commented on #52
This seems to have been fixed -- I can't reproduce the error with 012ab94.

[2022-01-01 03:01] #52 closed

[2022-01-01 03:31] sobolevnrm commented on #277
It looks like [1EJG](https://www.rcsb.org/structure/1EJG) does have a gap in the backbone:
[code]
Ideally, PDB2PQR would be able to fix a 1-atom gap but it cannot right now so I think this is a legitimate structure to skip in tests.

[2022-01-01 03:51] sobolevnrm commented on #277
[4MGP](https://www.rcsb.org/structure/4MGP) also has a gap in the backbone:
[code]
The gap at SER 23 is definitely beyond PDB2PQR's current capabilities to fix.

[2022-01-01 03:53] sobolevnrm commented on #277
[2V75](https://www.rcsb.org/structure/2V75) also has a gap in the backbone:
[code]
The gap at ASN 95 is also too big for PDB2PQR to currently fix.

[2022-01-01 06:11] #277 closed

[2022-01-02 02:49] sobolevnrm opened #283 "PDB2PQR not working with 4E8P and 6T3R"
@mishaguy reported that [4E8P](https://www.rcsb.org/structure/4E8P) and [6T3R](https://www.rcsb.org/structure/6T3R) do not work with the current version of PDB2PQR.

[2022-01-02 03:37] sobolevnrm commented on #283
Running [48EP](https://www.rcsb.org/structure/4E8P) with PDB2PQR v3.5.0 gives the following error:
[code]
This is consistent with the comments in the 4E8P PDB file that lists these atoms among those missing in the structure:
[code]
There are too many atoms missing from this residue for PDB2PQR to reconstruct.  Therefore, the failure is expected and is not a bug.

[2022-01-02 03:40] sobolevnrm commented on #283
Running [6T3R](https://www.rcsb.org/structure/4E8P) with PDB2PQR v3.5.0 gives the following error:
[code]
This is consistent with the comments in 6T3R PDB file that lists these atoms among those missing in the structure:
[code]
There are too many atoms missing from this residue for PDB2PQR to reconstruct. Therefore, the failure is expected and is not a bug.

[2022-01-02 03:41] sobolevnrm commented on #283
Neither of these failures results from a bug in PDB2PQR so I am closing this issue.

[2022-01-02 03:41] #283 closed

[2022-01-02 03:59] mishaguy commented on #283
I am not sure about why pdb2pqr can't do this job here. I am not the expert.
If I use formal charge and vdw in PyMol instead of pdb2pqr, I am getting result. See attached surface. I am not sure that this is actually correct surface. I asked this question before, why is it so positive?
In 4e8m which you fixed a day ago, the results with pdb2pqr and with formal charge and vdw are visibly identical.

[2022-01-02 05:32] sobolevnrm commented on #283
The problems with 4E8P and 6T3R are not bugs in PDB2PQR so this issue is closed.  If you want to continue this discussion, please do so [here](https://github.com/Electrostatics/pdb2pqr/discussions/285).

[2022-01-03 19:01] intendo commented on #16
@Eo300 isn't inputgen used by the apbs-web to generate the apbs input file after running pdb2pqr?

[2022-01-03 20:06] sobolevnrm commented on #16
I was referring to removing the command-line part -- not the entire module.

[2022-01-03 20:16] Eo300 commented on #16
We're not using the `inputgen` command-line for website operations, just what's already part of the `pdb2pqr` process

[2022-01-03 22:27] intendo commented on #16
OK, so we can delete the inputgen command line code.

[2022-01-08 00:05] jacob-r-anderson opened #288 "Failing with over 99999 atoms."
pdb2pqr 3.4.1, Ubuntu 18.04.

I have a large protein I am hoping to input to pdb2pqr30. Oddly, this works on an older version of pdb2pqr that was packaged with pymol (--version doesn't give me a version number with my pymol version). When I run with pdb2pqr30 I get this error for the same input file.

`ValueError: invalid literal for int() with base 10: 'A0000'
`

If I check the file for lines con

[2022-01-08 03:01] sobolevnrm commented on #288
Can you please provide a PDB file (you will need to add `.txt` suffix or compress as ZIP) so we can reproduce the error?

[2022-01-11 20:08] intendo commented on #288
According to https://www.wwpdb.org/documentation/file-format-content/format33/sect9.html:

[2022-01-13 02:41] sobolevnrm commented on #288
@intendo has a good point.  @jacob-r-anderson do you have this structure in CIF format?

[2022-01-13 16:02] michaelmorgan937 opened #289 "examples for parameterizing ligands"
There are two examples (1HPX and 1ABF) of parameterizing ligands in the documentation. However, I failed at both. I used mol2 files obtained here (http://pdb2pqr.sourceforge.net/examples/), and also tried mol2 files generated by myself using VMD.

[LIG_1HPX.mol2.txt](https://github.com/Electrostatics/pdb2pqr/files/7864069/LIG_1HPX.mol2.txt)
[1HPX_pdb2pqr.stderr.txt](https://github.com/Electrostati

[2022-01-14 18:23] intendo commented on #288
@sobolevnrm should we create a new issue (feature request) to handle PDB files that don't conform to the PDB 3.3 format? It would require a change to the parser and then propagate throughout the code base from there.

[2022-01-16 00:46] sobolevnrm commented on #288
Yes, I'll create a low-priority issue for this.  In the meantime, @jacob-r-anderson can you try CIF format?

[2022-01-16 00:46] #288 closed

[2022-01-16 00:47] sobolevnrm opened #290 "Implement support for non-standard PDB inputs that include more than 99999 atoms"
@intendo @sobolevnrm PDBs with over 99,999 atoms are the primary data object we have worked with for several years. One is attached. Other softwares handle these PDBs (Coot, Chimera, ChimeraX, Phenix).

[Microtubule.pdb.txt.zip](https://github.com/Electrostatics/pdb2pqr/files/7859462/Microtubule.pdb.txt.zip)

_Originally posted by @jacob-r-anderson in https://github.com/Electrostatics/pdb2pqr/issu

[2022-01-17 13:46] sobolevnrm opened #292 "New PDB2PQR release"
If you approve this, would be awesome if you can make quickly a bug-fix release as well so that I can get rid of my really ugly workaround :smiley:

_Originally posted by @stefdoerr in https://github.com/Electrostatics/pdb2pqr/issues/291#issuecomment-1014384347_

* [ ] Need to update releases.rst
* [ ] Usual updates on version number, etc.

[2022-01-17 17:24] intendo commented on #289
@michaelmorgan937 I am sorry you are having problems. What version of pdb2pqr are you using? Can you send the command line arguments that you used to produce the output files?

[2022-01-17 19:33] michaelmorgan937 commented on #289
@intendo I followed the document and tried both your server and downloaded version. The version information (which is 3.5.0) can be found in the stderr file I attached, as well as the error message.

[2022-01-17 19:50] sobolevnrm commented on #289
This information was from a very old tutorial that I am in the process of deleting.  The most recent documentation can be found at https://pdb2pqr.readthedocs.io/en/latest/.

[2022-01-17 20:55] michaelmorgan937 commented on #289
@sobolevnrm they are pretty much the same. I followed the new documentation but used the mol2 files from the old one since the new documentation does not provide mol2 files. I also tried generating mol2 files by myself as I said in the original post. Can you provide a working mol2 file for the example? thanks.

[2022-01-18 09:59] stefdoerr opened #293 "Problem with DefinitionHandler"
I have a large XML file with many residues. At some point, adding one more residue breaks the parsing as can be seen here in the case of water H1 atom:
[code]
[code]
When that happens the current DefinitionHandler drops the `56.` and keeps as y coordinate of the H1 atom `756`. And then all hell breaks loose with water atoms flying into space.

Looking at the sax parser docs we can find the followi

[2022-01-19 03:15] #293 closed

[2022-01-21 09:52] stefdoerr commented on #292
For me it's done. I don't have any further issues with the merged PRs so if you want to make a new release go ahead.

[2022-01-24 04:11] #292 closed

[2022-01-24 04:25] sobolevnrm commented on #292
https://pypi.org/project/pdb2pqr/3.5.2/

[2022-01-24 10:01] stefdoerr opened #296 "Adding hydrogens to residue with charged first atom creates charged hydrogens"
![image](https://user-images.githubusercontent.com/7935362/150761330-aac979e1-c910-4106-9a5c-31ebf8429818.png)
It can probably fixed by telling it not to copy the charge of the template atom when creating hydrogens (done here: https://github.com/Electrostatics/pdb2pqr/blob/master/pdb2pqr/structures.py#L135)
But I'm a bit afraid to remove that line since I'm not sure what else that templating is us

[2022-01-24 10:04] stefdoerr commented on #296
From what I can see however there are only names, coordinates and bonds in the DB and no formal charges
[code]

[2022-01-24 11:38] stefdoerr commented on #292
To not bother you excessively with releases we have decided to create our own patch releases on https://anaconda.org/acellera/pdb2pqr They get post-fixed with +X where X the patch version.
All our changes will be contributed to your repo as PRs so that we do not diverge.
Thanks!

[2022-01-24 16:49] intendo commented on #292
@stefdoerr would it be possible to take the approach of creating a test that fails and then fixing/adding the code to make the test pass? This would make it easier for us to verify code coverage and maintain regression testing.

[2022-01-24 17:05] stefdoerr commented on #292
Yes sure, I can start adding tests. I tend to add them to our repo but can definitely add here as well.

[2022-01-26 09:27] stefdoerr opened #300 "NMR proteins with hydrogens fail preparation"
Running on PDB ID 1UNC of Villin https://www.rcsb.org/structure/1unc causes the following crash
The issue is that the residue is named GLU but it has a HE2 hydrogen which corresponds to a GLH residue. Then pdb2pqr crashes because it's GLU template doesn't have a bond to any HE2 hydrogens.
Do you have any plans on fixing this? In the meanwhile I will make my own patches but just wanted to point out

[2022-02-16 08:11] Aunity opened #302 "AttributeError: 'NoneType' object has no attribute 'group_type'"
Hi,

I'm running pdb2pqr with command
[code]

and I got some errors like this:

[code]

And this is my environment information:
[code]

my protein file is here:
[protein.zip](https://github.com/Electrostatics/pdb2pqr/files/8077924/protein.zip)

[2022-02-18 17:42] jacob-r-anderson opened #303 "CIF Read Error: AttributeError: 'NoneType' object has no attribute 'get_value'"
Running pdb2pqr 3.4.1 on Ubuntu 18.04.

I saved a molecular model in CIF format using ChimeraX. When I try to use pdb2pqr, I get the error:

[code]

Is this an error interpreting the CIF?

[2022-02-18 18:18] sobolevnrm commented on #303
Please attach the CIF file so we can troubleshoot.  Thank you.

[2022-02-18 19:53] dargen3 opened #304 "Wrong protonation"
Hello,
I would like to report a strange behavior of the software tool pdb2pqr30.

I am using pdb2pqr30 to protonate a structure with a command:
`pdb2pqr30 --log-level DEBUG --with-ph 7.2  AF-P0DSE4-F1-model_v2.pdb AF-P0DSE4-F1-model_v2_protonated.pqr`
The version of pdb2pqr30 is: 3.4.1
OS is Ubuntu 21.10

But the structure is protonated probably wrong.
![image](https://user-images.githubuserconten

[2022-02-18 20:00] sobolevnrm commented on #304
Can you please tell us what specific aspect of protonation state is incorrect?

[2022-02-18 20:21] dargen3 commented on #304
Wow, this is really fast reaction! :) It should be standard serine. So, carbon (grey color) has 3 hydrogens instead of 2. Moreover distance between carbon and hydrogen is too small (0.65A)

![Screenshot from 2022-02-18 21-18-40](https://user-images.githubusercontent.com/22612824/154755730-68de552f-f592-482e-8644-c4b1cac45424.png)

[2022-02-20 02:49] sobolevnrm commented on #302
This appears to be a PROPKA problem; I can reproduce it with just `propka3 protein.pdb` using PROPKA 3.4.0.

[2022-02-20 02:53] sobolevnrm commented on #302
Closing this in lieu of https://github.com/jensengroup/propka/issues/140

[2022-02-20 02:53] #302 closed

[2022-02-21 03:21] sobolevnrm commented on #304
This seems like it could more likely be a visualization issue rather than an issue with PDB2PQR.  The PQR files that PDB2PQR produces have no information about bonding.  However, the visualization above is drawing odd bonds between atoms--this sometimes happens in programs such as VMD when the bonding information is inferred from the radii in the PQR file (rather than the built-in radii used for P

[2022-02-24 17:07] dargen3 commented on #304
OK, missing bonds are probably error of Avogadro. But unresolved problem is, that carbon of serine has 3 hydrogens instead of 2. You can see it even in your picture from pymol too.
![image](https://user-images.githubusercontent.com/22612824/155572464-4d4f50c7-7c73-43e3-8f2c-ad1f660e0965.png)

[2022-02-25 10:59] stefdoerr opened #306 "Issue with cyclic peptides"
pdb2pqr adds termini to the first and last residue in cyclic peptides creating a broken structure.
![image](https://user-images.githubusercontent.com/7935362/155703821-f90e8c6a-39ad-4eca-a7a7-829cacfe9481.png)
Example structure:
https://www.rcsb.org/structure/5vav

[2022-02-26 22:59] #306 closed

[2022-03-08 08:47] dargen3 commented on #304
Any progress here, please?

[2022-03-08 12:48] sobolevnrm commented on #304
No, I haven't had time to work on this.  Sorry.

[2022-04-01 12:32] dargen3 commented on #304
And do you have any idea if you'll ever have time to do that? We are planning to use pdb2pqr for a large Alphafold2 related project and I don't know whether to wait for the bug fix or find another tool please?

[2022-04-01 12:36] sobolevnrm commented on #304
I will try to work on it this weekend.  Sorry.

[2022-04-02 15:37] sobolevnrm commented on #304
This is not an extra atom -- its the alpha carbon hydrogen rotated the wrong way.  There's a problem with the input structure that is affecting hydrogen optimization; e.g., see the error messages generated by PDB2PQR:

I've never seen an debumping issue like this before with experimentally derived structures which is why I suspect it is a problem with the input file.  This will take a while to deb

[2022-04-04 12:35] dargen3 commented on #304
OK, that is my mistake. You are right. Thank you for error messages.

Do you want more problematic structures for debugging? Please let me know if you find a bug in the structure so I can inform the Alphafold developers.

[2022-04-22 15:37] lex1213 opened #311 "atomic radius"
In an attempt to rebuild missing atoms in my input pdb file, the output pqr is giving multiple atoms with charge, but zero radius. What could be causing this?

[2022-04-23 02:44] sobolevnrm commented on #311
Which atoms?  Can you please provide the input PDB and the output PQR?

[2022-04-25 16:08] alexmcff opened #312 "Error reading four letters residues"
I have a protein with a phosphorylated serine and I noticed there is an entry for PiSER in CHARMM.DAT that is called SEP1. However when I change my residue name in the pdbfile to SEP1 the server reads only SEP giving an error.

Any help would be appreciated

[2022-04-25 19:13] lex1213 commented on #311
Hydrogens specifically on side chains of tyrosine, threonine and serine. Please see attached for the PDB and PQR files.

Alexis Dispensa
Doctoral Student
Graduate School of Biomedical Sciences
Rowan University
Phone: (347) 452-4474

From: Nathan Baker ***@***.***>
Reply-To: Electrostatics/pdb2pqr ***@***.***>
Date: Friday, April 22, 2022 at 10:44 PM
To: Electrostatics/pdb2pqr ***@***.***>
Cc: "Dis

[2022-04-27 07:00] rubinanoor9 opened #313 "error during conversion of pdb file to pqr file format"
Hi pdb2pqr user!
I have complex structure of receptor and ligand in the pdb format. I am trying to convert this pdb file into pqr file format for binding energy calculation. During running command line:
pdb2pqr30 --ff=AMBER complex.pdb complex.pqr --ligand=lig.mol2

I got following error:
INFO:PDB2PQR v3.5.2: biomolecular structure conversion software.
INFO:Please cite:  Jurrus E, et al.  Improvem

[2022-04-27 21:23] chemsh opened #314 "A bug of creating the Biomolecule instance"
Dear PDB2PQR Team,

I find in a special case when a single-residue segment, which also contains only residue IDs of 1, is followed by another segment, the residue name of the current segment is assigned wrong as the following segment's first residue (residue ID being 1, too). It is because in function `__init__()` of `<class Biomolecule>` the algorithm is to compare only the residue IDs and the tw

[2022-04-30 14:11] sobolevnrm commented on #313
Can you please provide the PDB and MOL2 file that generated the problem?  Thank you.

[2022-04-30 16:13] rubinanoor9 commented on #313
Kindly find the attach file

[apbs-input-file.zip](https://github.com/Electrostatics/pdb2pqr/files/8597345/apbs-input-file.zip)

[2022-05-09 04:18] EtienneReboul opened #316 "use pd2pqr in python3 script"
Hello,

I would like to implement pdb2pqr directly into my python3 script , but I only found an outdated documentation :
https://www.ics.uci.edu/~dock/pdb2pqr/pydoc/
And a clear example doesn't appear in the up to date  documentation :
https://pdb2pqr.readthedocs.io/en/latest/using/index.html

Could you tell me if it is still possible without tinkering with the code ?  And if it is , could you giv

[2022-05-10 00:59] sobolevnrm commented on #316
@mimminou Are there problems with the code you checked in?

[2022-05-10 01:29] mimminou commented on #316
At first glance, there were apparent issues all around because I wasn't familiar with the api, but once I read followed how it works, the only true problem was the fact that get_molecules() is hardcoded to verify if an input file is a true file ( it does this to know it's extension, pdb or cif ) but it can be easily replaced with pdb.read_pdb() so it's not really an issue.

The real issue however

[2022-05-10 02:14] sobolevnrm commented on #316
@EtienneReboul please see:

* Main point of entry:  https://github.com/Electrostatics/pdb2pqr/blob/43f40f95e2725fb3a60f722a09c94a5ecc360107/pdb2pqr/main.py#L748
* Invocation from command line:  https://github.com/Electrostatics/pdb2pqr/blob/43f40f95e2725fb3a60f722a09c94a5ecc360107/pdb2pqr/main.py#L825

Is this what you are looking for?

[2022-05-26 13:44] sunimei3 opened #318 "server stuck"
Hi
Is PDB2PQR server stuck or just the queue is very long suddenly?

[2022-05-27 01:08] sobolevnrm commented on #318
Hello.  I just tried a calculation and it worked without issue.  Can you please try again and/or post more information about the specific calculation that failed for you?

[2022-05-27 15:40] sunimei3 commented on #318
https://server.poissonboltzmann.org/jobstatus?jobtype=pdb2pqr&jobid=k9pf3zbqi6&date=2022-05-26

[2022-05-27 15:41] sunimei3 commented on #318
https://server.poissonboltzmann.org/jobstatus?jobtype=pdb2pqr&jobid=tdw0m9u72g&date=2022-05-27

[2022-05-27 16:03] sunimei3 commented on #318
I see, it seems to be input-dependent. It hangs there if I use a certain input. I will look at the file I submited

[2022-05-27 16:10] sunimei3 commented on #318
https://server.poissonboltzmann.org/jobstatus?jobtype=pdb2pqr&jobid=edfrkmxem7&date=2022-05-27

[2022-05-29 00:42] sobolevnrm commented on #318
There is a problem with the charge assignment routine on your input file.  Does it have unusual atoms in it?

[2022-06-06 19:25] #311 closed

[2022-06-10 06:39] khelmy55 commented on #186
i have got the same issue with a protein, PDB: 4yki
i pre-treated it with pdb4amber and tleap, ran pdb2pqr from the command line and here is what i got:

[code]

[2022-06-10 07:00] khelmy55 opened #319 "Biomolecue charge is non-integer --- pdb:4yki"
i have got an issue with a protein, PDB: 4yki
i pre-treated it with pdb4amber and tleap, ran pdb2pqr from the command line and here is what i got:

CRITICAL:Biomolecue charge is non-integer: -32.34
CRITICAL:Giving up.

[2022-06-10 12:01] sobolevnrm commented on #186
We can explore this in the new issue you created.  Thank you.

[2022-06-12 02:56] sobolevnrm commented on #319
The problem appears to be the GLY ligand.  When I deleted that from the structure, the PDB2PQR calculation proceeded without problem.

We do not have plans to fix the issue with the peptide ligand.

[2022-06-12 02:56] #319 closed

[2022-06-14 04:02] rediaz111 opened #320 "Cannot add --display-coupled-residues flag to PDB2PQR webserver"
I'm reviewing my results from running a PDB file through PDB2PQR and I find this message.
``Coupled residues (marked *) were detected.Please rerun PropKa with the --display-coupled-residues or -d option for detailed information.``

However, there is no option to pass this flag on the webserver.

[2022-06-14 13:46] sobolevnrm commented on #320
Hello -- you will need to use the command line version of [PDB2PQR](https://github.com/Electrostatics/pdb2pqr) or [PROPKA](https://github.com/jensengroup/propka) to use this option.  Thank you.

[2022-06-14 13:46] #320 closed

[2022-06-19 15:33] sobolevnrm commented on #303
I'm closing this but will reopen if @jacob-r-anderson posts the CIF file that caused the problem.

[2022-06-19 15:33] #303 closed

[2022-06-24 01:47] GeorgianaLiang commented on #318
Is there any specific way to tweak the input to enable the job to run faster (with shorter pending time)?

[2022-06-24 21:24] jbardhan commented on #318
Hello!

Is this last question (about enabling the job to run faster) about the same inputs/problems used in the original question that opened this issue?  Just checking if we should open a new ticket.

Thanks,
Jay

[2022-06-24 21:25] GeorgianaLiang commented on #318
Thank you so much for the email!
The problem was solved.
Thanks,
Georgiana

发件人: Jaydeep Bardhan ***@***.***>
发送时间: 2022年6月24日 16:24
收件人: Electrostatics/pdb2pqr ***@***.***>
抄送: GeorgianaLiang ***@***.***>; Comment ***@***.***>
主题: Re: [Electrostatics/pdb2pqr] server stuck (Issue #318)

Hello!

Is this last question (about enabling the job to run faster) about the same inputs/problems used in the

[2022-06-26 02:06] #318 closed

[2022-06-27 00:32] sobolevnrm commented on #300
@stefdoerr -- are you able to share the patches you mentioned above?  Thanks.

[2022-06-27 06:20] stefdoerr commented on #300
https://github.com/Acellera/moleculekit/blob/main/moleculekit/tools/preparation.py#L475-L491
It's a bit specific to my library though. But the main idea is simply to check some residues if they have atoms which correspond to a specific protonation and if that's the case, rename them to that protonation state.

[2022-07-05 07:34] khelmy55 opened #321 "OPM and pdb2pqr"
Why the pre-treated pdb files with OPM do not work with pdb2pqr?

[2022-07-05 12:13] sobolevnrm commented on #321
What is OPM?

[2022-07-08 12:52] khelmy55 commented on #321
Orientation of protein in membranes - it adds dummy atoms in the end of the pdb file, i thought this could be the reason why the treated pdb does not work with pdb2pqr, but it wasn't.

[2022-07-08 15:00] jbardhan commented on #321
Hello,

Are you using structures from here? https://opm.phar.umich.edu/

Thanks very much,
Jay

[2022-07-09 07:51] khelmy55 commented on #321
Hello,

Yes, I am

[2022-07-09 13:54] jbardhan commented on #321
ok, thank you!  I would also have guessed that the DUM files are the issue.  Can you please upload an example of what's not working, including both the apbs.in and PDB?

Thanks very much,
Jay

[2022-07-21 17:19] kexul opened #322 "Protonation of histidine"
Dear pdb2par developers:
   I used the pdb2pqr server to prepare the pdb `7VTH` for molecular dynamics simulation. After protonation, the H163 residue cannot form a hydrogen bond with the ligand anymore. Are there parameters I can tune to restore the hydrogen bond shown in the cocrystal structure? Thanks!

Before protonation:
<img width="449" alt="企业微信截图_1113255f-0934-4b1d-a861-5b722655ff55" src="

[2022-07-21 17:44] kexul commented on #322
As the documentation said:

I've tried modifying the residue name to `HIE` manually, it did work. But this needs some knowledge beforehand, is it possible to determine the best state of histidine automatically? Maybe use the information from the ligand? I've tried the `--ligand` option, but with no luck.

[2022-07-27 19:57] corbinsblack opened #323 "phospholipid problems"
Hi! New to this. I'm able to run protein-only structures without issue. However, if I don't specify a ligand file it is ignored in the output. When I try to include the mol2 file, I get this error:

{
    "metrics": {
        "rusage": {
            "ru_utime": 0.63,
            "ru_stime": 0.07,
            "ru_maxrss": 64492,
            "ru_ixrss": 0,
            "ru_idrss": 0,
            "ru_

[2022-07-29 00:01] ljmartin opened #324 "`Got code 404 while retrieving https://files.rcsb.org/download/PARSE.pdb` while using PARSE forcefield"
Hi PDB2PQR,
I'd like to use the pdb2pqr30 to add neutral terminal caps to a PDB. It appears the link given to the PARSE.pdb file points to the wrong place. On running:
[code]
a 404 is returned:
[code]
I couldn't find PARSE.pdb in ftp://files.rcsb.org/ - is there an up to date link somewhere?
Thanks

[2022-07-29 02:18] sobolevnrm commented on #324
It looks like you are missing a dash in the `--ff` option as well as an output PQR path.  You should try something like:

[code]

[2022-07-29 02:18] #324 closed

[2022-07-29 04:19] ljmartin commented on #324
Thanks @sobolevnrm, but I'm not sure that addresses the issue. Pip-installed pdb2pqr30 (as installed per the docs) has input:
[code]
i.e. using flag --ff.
Perhaps the pip version is an older version?

[2022-07-29 12:13] sobolevnrm commented on #324
Oops -- I had a typo above.  Sorry!

Please try:
[code]

Note the use of two dashes instead of one.

[2022-08-02 22:13] GeorgianaLiang opened #325 "Ligand with Amide Bonds"
Dear pdb2pqr developers:
I am looking to assign charges to a receptor considering the ligands bound to the receptor. I collected the needed files from PDB. However, the program tells me that the ligand (NAG) has an amide bond, which is not accepted by the program. Is there a way to go around this constraint? Thank you so much in advance!

[2022-08-06 21:47] sobolevnrm commented on #304
If you can share some additional structures here, that would be helpful.  Thank you.

[2022-08-06 21:48] sobolevnrm commented on #312
Can you please upload an example?  I'll reopen the issue after you upload.  Thank you.

[2022-08-06 21:48] #312 closed

[2022-08-10 16:09] GeorgianaLiang commented on #325
I was using the PDB file 5kxi from the PDB website (with the sodium and nicotine removed). The problem arise with the NAG ligand (I converted from PDB to mol2 using a third-party program). The exact error message is "NotImplementedError: PDB2PQR does not currently support the amide (am) bond type".

[2022-08-18 01:49] Eridium1 opened #326 "waiting for Pending Job Start too long"
Hi,
I have a pdb file and want to change the protonation state of a protein. But after uploading the file, it did not start running after waiting for a long time(13hr). My job ID is 82hrpvhqwv_20220817

[2022-08-19 20:04] jbardhan commented on #326
Hi, has this finally completed or is it still apparently running?

[2022-08-19 23:10] sobolevnrm commented on #325
![image](https://user-images.githubusercontent.com/1933272/185718041-b067729c-46eb-4b30-b68c-e23c0307ec49.png)

Because the NAG ligand contains an amide bond, PDB2PQR will not be able to assign charges to it.  I recommend removing that ligand from the structure.

[2022-08-19 23:10] #325 closed

[2022-09-02 15:03] sau1978 opened #327 "missing modified phosphorylated threonine residue (THP1)"
Hello
 I am using the web interface to produce the PQR AND APBS files, to visualization in VMD.  My structure has several phosphorylated serines and phosphorylated threonines. After adding the parameters for both (SP2 and THP1) to the CHARMM.DAT file I am able to run on the web interface.  Afterwards, I am able to visualize the phosphorylated serines, but the phosphorylated threonines (residues 38

[2022-09-19 04:00] #322 closed

[2022-10-15 23:13] #326 closed

[2022-10-16 01:01] sobolevnrm opened #329 "Remove ChangeLog.md"
The file https://github.com/Electrostatics/pdb2pqr/blob/master/ChangeLog.md is redundant with https://github.com/Electrostatics/pdb2pqr/blob/master/docs/source/releases.rst and points to a non-existent web page.

[2022-10-16 01:02] #329 closed